/* Login Form */
.checkbox label{
     padding-left: 0px;
   } 
 .borderZero{
     border-radius: 0px;
   } 
@media (max-width: 370px) {

	#form-login {
		max-width: 310px !important;
	}

	h1 {
		font-size: 32px;
	}

	#form-login .control-label {
		padding-left: 15px !important;
	}

}
body {
	font-family: 'Arial' !important;
}
input {
   border-radius: 0 !important;
}

input:focus {
   -webkit-box-shadow: none !important;
   -moz-box-shadow: none !important;
   box-shadow: none !important;
   border: solid 1px #2c343f !important;
   border-left: 2px solid #2c343f !important;
   outline: -webkit-focus-ring-color auto 0px !important;
}

button:focus {
   -webkit-box-shadow: none !important;
   -moz-box-shadow: none !important;
   box-shadow: none !important;
   outline: -webkit-focus-ring-color auto 0px !important;
}

#form-login {
	max-width: 350px;
    float: none;
    margin: 0 auto;
}

#form-login input {
	border-left: 2px solid #337ab7;
/*	max-width: 250px;*/
    float: none;
    margin: 0 auto;
}

#form-login .control-label {
	/*padding-top: 15px;*/
	padding-bottom: 10px;
/*	padding-left: 35px;*/
}

#form-login button {
	border: 0;
	background-color: #1b79d8;
}

/*#form-login .auth-group {
	padding-bottom: 40px;
}
*/
#form-login .a-forgot {
	color: #337ab7;
}

#form-login .panel-logo {
	border-bottom: 1px solid #cccccc;
	text-align: center;
	padding-top: 15px;
}

#form-login .panel-forgot {
	border-top: 1px solid #cccccc;
}

#form-login .btn-login {
	width: 100%;
}

#form-login input[type="checkbox"] {
	height: 20px;
	width: 20px;
}

#form-login .panel-body {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	/*max-width: 250px;*/
    float: none;
    margin: 0 auto;
}

#form-login #rememberme {
	padding-left: 20px;
}
/*.panel, button, input {
	border-radius: 0 !important;
}*/

h1 {
	font-weight: bold;
}

.bg-blue {
	background-color: #337ab7;
}

.color-white {
	color: #ffffff;
}

.centered {
    float: none;
    margin: 0 auto;
}

.text-centered {
	text-align: center;
}

.v-centered {
    margin: 0;
    position: absolute;
    top: 45%;
    transform: translate(0, -50%);
    width:100%;
}

.padding-none {
	padding: 0 !important;
}
.g-recaptcha {
    transform:scale(1.05);
    transform-origin:0 0;
}
