body{
  overflow-x: hidden;
}
#footer {
  height: 50px;
  background-color: #f5f5f5;
}
footer{
  padding-top: 10px;
}
.logoPaddingTop{
    padding-top: 15px;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
.row-offcanvas {
  padding-top: 60px;
}
  .navbar-fixed-top {
    top: 0;
    padding-top: 8px;
    border-width: 0 0 1px;
    height: 50px;
    background-color: #ffffff;
  }
  .logoPaddingTop{
    padding-top: 0px;
  }
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -100%;
    width: 100%;
    margin-left: 0px;
    -webkit-transition: all .5s !important; /* Safari */
    transition: all .5s !important;

  }
  #cssmenu {
    position: fixed;
    top: 50px;
  }
  #cssmenu.active {
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    width: 65%;
    margin-left: 0px;
    -webkit-transition: all .5s !important; /* Safari */
    transition: all .5s !important;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    margin-left: 12px;
  }
  .sidebg{
    background-color: black;
  }
}
@media screen and (min-width: 768px) {
  
}
