.sup-errors{
    top: 10px !important;
}
#api-edit-form .modal-body:last-child hr{display:none}
hr:last-child {display:none}
body {
    font-family: "Arial" !important;
    overflow-x: hidden;
}
/*Button*/
.btn{border-radius: 0 !important; cursor: default !important;}

/*Background*/
/*.bgGray {
    background-color: #f3f3f3 !important;
}*/

.tr-disabled {
    background-color: #cccccc !important;
}
/*** Table Styles **/
/*#myTable{border-radius: 0;}
.table-fill {
  background: white;
  border-radius: 0 !important;
  border-collapse: collapse;
  margin-bottom: 10px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);*/
  /*border: 1px solid #dddddd;*/
/*  animation: float 5s infinite;
}
 
th {
  color:#ffffff;;
  background:#8cb5de;
  border-radius: 0px !important;
  border-bottom:2px solid #dddddd !important;
  border-right: 1px solid #c1c3d1;
  font-size:20px;
  font-weight: 100;
  padding: 10px 5px !important;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666666;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}*/
 
/*tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}*/
 
/*tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}*/
 
/*tr:nth-child(odd):hover td {
  background:#4E5066;
}*/

/*tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:14px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}*/
/*.backend-generic-table{table-layout: fixed;}
.table tbody tr td, .table thead tr th {
    word-wrap: break-word !important; width: 20px; white-space: normal !important;}*/
.form-control {border-radius: 0}
button:focus {outline: none; outline-color: transparent;}

.modal-content{border-radius: 0}
.modal-header {
    padding: 15px;
    background-color: #ffffff;
    border-bottom: 2px #99ccff solid;
    min-height: 40px;
    color: #999999;
    font-size: 12px;
}
button .close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    color: #ff6d6d;
    opacity: 1;
}
.close {
    color: #ff6d6d;
    opacity: 1;
}
.modal-header h4 {
    color: #5da4ec;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
td .btn {
    outline: none;
    margin: 1px;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 0;
    width: 25px;
    height: 25px;
}
.nav-tabs li a{border-radius: 0}

.tab-content{padding-top: 15px}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.commenterImage {
    width:30px;
    margin-right:5px;
    float:left;
}
.commenterImage img {
    width:100%;
}
.statisticcommentText .panelTitle,
.statisticcommentText .panelTitleB {
    margin-left: 45px;
}
.statisticcommentText p {
    margin-left: 50px;
}
.statisticreplyBlock {
    margin-left: 45px;
}
.statisticsubText {
    margin-left: 45px;
}
.chart {
  width: 100%; 
  min-height: 450px;
}
#sub_attri_id_container > div{
  width: 100%;
}
#sub_attri_id_container > div > button{
  width: 100%;
  text-align: left;
}
#attribute-value-table-body > tr > td{
  border-top:0 !important;
  padding:0px 0px 10px 15px !important;
}
#attri_value_pane> label{
padding-right: 0;

}
.btn-add-attribute-value{
  padding-right: 2px;
  padding-top: 4px;
}
.btn-del-attribute-value{

  padding:9px 10px 0px 0px !important;
}
#sub_attri_id_container > div > ul > li.multiselect-item.filter > div > span.input-group-btn > button{
  padding:9px;
}