/* Padding Styles */
.noPadding { padding:0; }
.minPadding {	padding:5px; }
.adspanelPadding { padding: 0 0 5px 0; }
.leftPadding { padding-left:5px; }
.leftPaddingB { padding-left:10px; }
.rightPadding {	padding-right:5px;}
.topPadding {	padding-top:5px; }
.topPaddingB {	padding-top:10px; }
.bottomPadding { padding-bottom:5px;}
.bottomPaddingB { padding-bottom:10px;}
.noleftPadding {	padding-left:0;}
.norightPadding {	padding-right:0;}
.notopPadding {	padding-top:0;}
.nobottomPadding {	padding-bottom:0;}
.sidePadding {	padding-left:5px; padding-right:5px;}
.nosidePadding { padding-left: 0; padding-right: 0; }
.cornerPadding { padding: 5px 0 5px 0; }
.tenpxPadding { padding: 10px; }

/* Margin Styles */
.leftMargin {	margin-left:5px !important;}
.leftMarginB {	margin-left:10px;}
.leftMarginC {	margin-left:15px;}
.rightMargin {margin-right:5px;}
.topMargin { margin-top:5px; }
.topMarginB { margin-top:10px; }
.topmarginveryLight { margin-top:1px; }
.topMarginB {margin-top:10px;}
.bottomMargin {margin-bottom:5px;}
.bottomMarginLight {margin-bottom:3px;}
.bottommarginveryLight {margin-bottom:1px;}
.sideMargin { margin-left:5px; margin-right:5px;}
.noMargin {margin:0;}
.nobottomMargin {	margin-bottom:0;}
.marginbottomHeavy{ margin-bottom: 20px; }

.blockMargin { margin-top:20px; margin-bottom:20px;}
.blockBottom { margin-bottom:20px;}

/*Float*/
.left {
  float: left;
  margin-right: 1em;
}

.right {
  float: right;
  margin-left: 1em;
}

/* Font Styling */
.whiteText { color:#ffffff; }
.redText { color:#ff6666 !important; }
.blueText { color:#5da4ec;}
.lightgrayText {color:#cccccc;}
.grayText {color:#666666;}
.notrequiredText{ color: #cccccc;}

.smallText { font-size:10px }
.normalText { font-size:12px }
.mediumText { font-size:14px }
.largeText { font-size:16px }
.xlargeText { font-size:18px }

/*Background*/
.blueBackground{	color: #ffffff;	background-color: #5da4ec;}

/* Button Styles */
.watchButton:hover, .watchButton:focus, .watchButton{  color: #ffffff; background-color: #66cc99;}
.rateButton:hover, .rateButton:focus, .rateButton{  color: #ffffff; background-color: #fac04b;}
.blueButton:hover, .blueButton:focus, .blueButton{	color: #ffffff;	background-color: #5da4ec;}
.noBGButton:hover, .noBGButton:focus, .noBGButton{	color: #7EACDA;	background-color: transparent;}
.redButton:hover, .redButton:focus, .redButton{	color: #ffffff;	background-color: #ff6d6d;}
.grayButton:hover, .grayButton:focus, .grayButton{	color: #ffffff;	background-color: #cccccc;}
.closeButton:hover, .closeButton:focus, .closeButton{	color: #ff6d6d; opacity: 1;}
.facebookButton:hover, .facebookButton:focus, .facebookButton{	color: #ffffff;	background-color: #276db3;}
.twitterButton:hover, .twitterButton:focus, .twitterButton{	color: #ffffff;	background-color: #5da4ec;}
.googleButton:hover, .googleButton:focus, .googleButton{	color: #ffffff;	background-color: #ff6a6a;}
.menuToggle { padding-top:10px; font-size:14px; color: #7EACDA}
/* Border Styles */
.borderZero{	border-radius: 0; box-shadow:none;}
.removeBorder {border:none;}
.borderBottom {	border-bottom: 2px solid #e6e6e6;}
.borderTop {	border-top: 2px solid #e6e6e6;}
.borderBottomDark {	border-bottom: 2px solid #b3b3b3;}
.borderTopDark {	border-top: 2px solid #b3b3b3;}
.borderbottomLight {	border-bottom: 1px solid #e6e6e6;}
.bordertopLight {	border-top: 1px solid #e6e6e6;}

/* InputBox Styles */
.inputBox { border: 1px solid #eaeaea; background-color:#fafafa; box-shadow:none; }
.inputLabel {font-weight:normal; margin-top:10px}

/* Genric Styles */
.fullSize {	width: 100%;	/*height: 100%;*/ }
.bgWhite { background-color:#ffffff; }
.bgGray {background-color:#f3f3f3;}
.bannerJumbutron { margin-top:100px; margin-bottom:20px;}

/* List and Group Styles */
.listTitle { color:#5da4ec; font-size:16px; font-weight:bold; text-transform:uppercase;}

/* Panel Styles */
.panelTitle { color:#5da4ec; font-size:14px; font-weight:bold; text-transform:uppercase;}
.panelTitleB { color:#5da4ec; font-size:14px; font-weight:bold; }
.panelTitleSub { color:#666666; font-size:12px; font-weight:bold; text-transform:uppercase;}
.panelRedTitle { color:#ff6666; font-size:14px; font-weight:bold; text-transform:uppercase;}
.panelBlueTitle { color:#5da4ec; font-size:14px; font-weight:bold; text-transform:uppercase;}
.panel-heading.panelTitleBar { background-color:#ffffff; border-bottom:2px #99ccff solid; height:40px; color:#999999; font-size:12px;}
.panel-heading.panelTitleBarLight { background-color:#ffffff; border-bottom:2px #99ccff   solid; height:40px; color:#999999; font-size:12px;}
.panel-heading.panelTitleBarLightB { background-color:#ffffff; border-bottom:1px #e6e6e6 solid; height:40px; color:#999999; font-size:12px;}

/*Ad Rating*/
.adRating{ color: #ffcc66;}
/* Ad Image Styles */
.adImage { height: 160px; width: auto;}

/*Modal Styles*/
.loginSize{ width: 450px; min-width: 100%; }
.inputTitle { font-size:12px; color:#ff6666; text-transform: uppercase; }
.modalSocialMedia { padding: 15px 15px 0 15px;}
.modalFooter{ padding: 0 15px 15px 15px; }
.modalTitle { color:#5da4ec; font-size:14px; font-weight:bold; text-transform:uppercase;}
.modalTitleBar { padding: 10px; background-color:#ffffff; border-bottom:2px #99ccff solid; height:40px; color:#999999; font-size:12px;}

/*Loading*/
.loading-pane .fa{ color: #000 !important; }
.loading-pane { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 1039; background-color: #fff; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; filter: alpha(opacity=30); -moz-opacity: 0.3; -khtml-opacity: 0.3; opacity: 0.3; text-align: center; }
.loading-pane > div { position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; height: 64px; width: 64px; }
.modal .loading-pane { z-index: 5000; }

/*Float*/
.left { float: left; margin-right: 1em; }
.right { float: right; margin-left: 1em; }

.thumbnailSize{ width: auto; height: 100px; }

/*Jumbottron Carousel*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 0;
}
.carousel-caption {
    z-index: 0;
}

@media (max-width: 990px) {
.notoppaddingSm { padding-top:0; }
.norightPaddingSm {	padding-right:0;}
.redButton { padding-left:10px; }
.topPaddingSm {	padding-top:5px; }
.userPanel.active { padding-top: 50px !important; }
.navbar-brand {
 padding: 10px 0px;
}
.adImage{ 
    height: 125px;
    width: auto;
    float: left;
    width: 45%;
    /* border: 1px solid black; */
    text-align: center;
    margin-right: 15px;
}
}

@media (max-width: 768px) {
.noPaddingXs { padding:0; }
.rightPaddingXs { padding-right: 15px; }
.adsMargin {
    margin-bottom: 3px;
    margin-top: 1px;
}
}

