 .btn:focus,.form-control:focus {
     outline: 0 !important; 
     -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075),0 0 0 rgba(102,175,233,.6) !important; 
     box-shadow: inset 0 0 0 rgba(0,0,0,.075),0 0 0 rgba(102,175,233,.6) !important; 
}
 .loading-pane .fa{
    color: #000 !important;
}
.loading-pane {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1039;
    background-color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    text-align: center;
}

.loading-pane > div {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 64px;
    width: 64px;
}

.modal .loading-pane {
    z-index: 5000;
}


.th-color{
    background-color: #7EACDB !important;
}
.th-sub-cat{

    margin-left:100px;
}
.tr-sub-cat{
    padding-bottom: 100px !important;
}
.th-color-cat{

    background-color: #30679E !important;
}
.borderZero{border-radius: 0px;}
.btn-tools{outline: none;margin: 0 1px 0px 1px;text-transform: uppercase;padding: 5px;border-radius: 0;}
.btn-toggle{outline: none; background-color: transparent;color: #666666;}
.backend-generic-table thead {    /* background-color: #f3f3f3; */border-top: 1px solid #dddddd; border-bottom: 3px solid #cccccc}
.backend-generic-table thead tr th { text-transform: uppercase; padding: 20px 15px 15px 15px !important; border: none !important; font-weight: normal; white-space: nowrap; font-size: 14px; color: #666666; white-space: nowrap;}
.backend-generic-table tbody tr:first-child td {border-top: 2px solid #cccccc;}
.backend-generic-table tbody tr td { padding: 15px !important; color: #666666; }
.backend-generic-table tbody tr { border-bottom:1px solid #dddddd !important;}

.backend-generic-table .expand-table thead { border-top: none !important; }
.backend-generic-table .expand-table tbody tr:last-child { border-bottom: none !important; }
/*#userManagement thead {background-color: #f3f3f3;}
#userManagement thead tr th { text-transform: uppercase; padding: 15px !important; border: none !important; font-weight: normal; white-space: nowrap; font-size: 14px; color: #666666; white-space: nowrap;}
#userManagement tbody tr:first-child td {border-top: 2px solid #cccccc;}
#userManagement tbody tr td { padding: 15px !important; color: #666666;}
#userManagement tbody tr{ border-bottom:1px solid #dddddd !important;}*/
.pagination span, .pagination a {
    border-radius: 0 !important;
}

.noMargin{
    margin: 0;
}
.noPadding{
    padding:0;
}
.noPaddingLeft{
    padding-left: 0;
}
.noPaddingRight{
    padding-right:0;
}
.noMarginBottom{
    margin-bottom:0;
}
.paddingBottomA{
    padding-bottom: 10px;
}
.paddingAll{
    padding: 10px 15px 20px 15px;
}
.blockedColor{
    background-color: #fcf3f3 !important;
}
.disabledColor{
    background-color: #f4f4f4 !important;
}
.flaggedColor{
   background-color: #e8eaf6 !important;
}
.featuredColor{
   background-color: #fff8e1 !important;
}
.borderZero{
    border-radius: 0;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
    cursor: normal !important;
}
.paddingFooter{
    padding-left: 15px;
    padding-right: 15px;
}
.marginFooter{
    margin-bottom: 15px;
}
