/* Global */
 .loading-pane .fa{
    color: #000 !important;
}
.loading-pane {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1039;
    background-color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    text-align: center;
}

.loading-pane > div {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 64px;
    width: 64px;
}

.modal .loading-pane {
    z-index: 5000;
}

.img-ads{
  background-size: cover !important;
  background-position: center !important;
  height: 100%;
}
.row-offcanvas{
  padding-top: 100px;
}
body{
  font-family: Arial !important; 
  }
.lbl{
  color: #5FA3EC !important;
}
.carousel-control.right {
    right: -85px;
    left: auto;
    background-image: none !important;
    background-image: none !important;
    background-image: none !important;
    background-image: none !important;
}
.carousel-control.left {
    left: -85px;
    right: auto;
    background-image: none !important;
    background-image: none !important;
    background-image: none !important;
    background-image: none !important;
}
#topBody{
  max-height: 400px;
  height: 100%;
}
.pad-top{
  padding-top: 11px;
}
.navMenuPadding{
  padding-top: 5px;
}
.logoPaddingTop{
  padding-top: 0px;
}
#midBody{
  background-color: #f5f5f5;
  overflow: hidden;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;}
a.noTopBottom{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.center{
  text-align: -webkit-center;
}
.borderzero{
	border-radius: 0px;
} 
/* modal form */ 
.link{
    outline: 0;
}
.modal-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.modal-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.modal-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.modal-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.modal-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.paddingSideZero{
  padding-left: 0px;
  padding-right: 0px;
}
.adsTwo{
  padding-left: 5px;
  padding-right: 0px;
}
@media screen and (max-width: 768px) {
/* header */
.header .btn:focus{
  outline: 0;
  color: #f00;
}
/* sidebar */
/* Icon when the collapsible content is shown */
  .bt:after {
    font-family: FontAwesome; 
    content:"\f107";
    float: right;
    margin-left: 15px;
  }
  /* Icon when the collapsible content is hidden */
  .bt.collapsed:after {
    content:"\f105";
  }
#sidebar-wrapper .panel,
#sidebar-wrapper .panel-default .panel-heading {
    color: #7DABDA;
    background-color: transparent !important;
    border: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
    box-shadow: 0 1px 1px rgba(0,0,0,0);
}
#sidebar-wrapper .panel-body{
  color: #ffffff;
  background-color: #7DABDA !important;
}
#sidebar-wrapper .panel-heading:hover .panel-body{
  background-color: #7DABDA !important;
  color: #7DABDA;
}
#sidebar-wrapper a,
#sidebar-wrapper a:hover{
  display: block;
  text-decoration: none;
}
a:focus, a:hover .panel-heading{
    color: #333333;
    text-decoration: none;
}
.sidebar-wrapper{
  top: 45px;
  width: 215px;
  height: 100%;
  position: fixed;
  z-index: 1000;
  background: #ffffff;
  left: -215px;
  padding-bottom: 50px;
  -webkit-transition: left .5s; /* Safari */
  transition: left .5s;
}
.sidebar-wrapper.active{
  left: 0px;
  overflow-y: auto;
  padding-bottom: 50px;
  -webkit-transition: left .5s; /* Safari */
  transition: left .5s;
}
.panel-titleHead{
  color: #7DABDA;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: inherit;
}
.list{
  list-style-type: none;
  padding-left: 10px;
  margin-bottom: 10px;
}
.list li{
  margin-top: 10px;
  margin-bottom: 10px;
}
.listingImg{
  background-position: center;
  height: 110px; 
  width: 40%; 
  padding-left: 0; 
  padding-right: 5px;
}
/* sidebar */
.languageSelection{
  margin-top: 0px;
}
.adsTwo{
  padding-left: 0px;
  padding-right: 5px;
}
.adsThree{
  padding-left: 5px;
  padding-right: 0px;
}
#logo{
  height: 30px;
}
.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}
#listingbids img{
  height: 25%;
  width: 30%;
}
#listingbuyandsell img{
  height: 25%;
  width: 30%;
}
#listingpanel{
  margin-bottom: 15px;
}
footer p{
  font-size: 12px;
}
.center{
  padding: 0px;
}
.paddingZero{
  padding: 0 0 10px 0 !important;
}
.paddingSideZero{
  padding-left: 0px;
  padding-right: 0px;
}
.pad-top{
  padding: 0 0 10px 0;
}
.btn-yak:hover,
.btn-yak:focus,
.btn-yak{
  background-color: #f8f8f8;
  border-radius: 3px;
  border: 0;
  color: #7FAEDD;
}
.btn-facebook{
  margin-left: 5px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-xs{
  padding: 0px 5px;
  font-size: 12px;
  line-height: 1.5;
}
}
@media screen and (min-width: 768px) {
.adsTwo{
  padding-left: 0px;
  padding-right: 5px;
}
.adsThree{
  padding-left: 5px;
  padding-right: 0px;
}
}
@media screen and (min-width: 992px) {
.adsTwo{
  padding-left: 5px;
  padding-right: 0px;
}
.adsThree{
  padding-left: 5px;
  padding-right: 0px;
}
}
.modal-footer .post-ads{
  padding-top: 320px !important;
}