/* Global */
.btn:focus {
  outline: none !important;
}
a:focus {
  outline: none !important;
}
body { font-family:"Arial";}
.nav>li>a { padding:10px 10px;}
.nav-stacked>li+li { margin:0;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border:none;}
.container, .container-fluid { padding-left:0; padding-right:0;}
/* Header Styles Last Resort Styles */
input.form-control.inputSearch { float:right}
button.btn.redButton.postAds {	margin-left:5px; }
button.btn.redButton.button-user {	margin-left:5px; }
.navbar-default .navbar-nav>li>a { padding-top:5px; padding-bottom:5px;}
li.borderleftLight { border-left: 1px solid #e6e6e6; }
a.blueText { color:#5da4ec !important;}
.logo { min-width:100px;}
/* Jumbutron */
a.listCategory { border-radius:0; color:#666666; }
a.listCategoryAll { border-radius:0; color:#ff6666;}
.nav-pills>li>a { border-radius:0;}

/* Pagination Last Resort Styles */
.pagination>li:last-child>a, .pagination>li:last-child>span, .pagination>li:first-child>a, .pagination>li:first-child>span { border-radius:0;}


/* Dashboard Styles */
.nav.listDashboard li a { border-radius:0; color:#666666; padding:0px; }

/*Scrollable Modal*/
.fade.in { overflow-y: visible }

/*User Panel*/
.userPanel{ border-bottom: 2px solid #5793d0; margin-bottom: 5px; background-color: #5da4ec; position: fixed; z-index: 1; -webkit-transition: all .5s; transition: all .5s; }
.userPanel.active{ padding-top: 65px; position: fixed; z-index: 3; -webkit-transition: all .5s; transition: all .5s; }
.userPanel>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #E6E6E6;
}
/* Jumbotron Sidebar*/
.sidebarTitle{    
    background-color: #5DA4EC;
    padding: 10px;
    margin: 3px 0 1px 0px;
}
#flyout_menu ul, li { list-style: none; margin: 0; padding: 0; }
#flyout_menu ul li.active a {
    color: #fff !important;
}
#flyout_menu ul li.hover,
#flyout_menu ul li:hover { position: relative; z-index: 599; }
#flyout_menu ul ul{ visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; }
#flyout_menu ul li:hover > ul { visibility: visible; }
#flyout_menu ul ul { top: 0; left: 100%; width: 100%; }
#flyout_menu span, #flyout_menu a { display: inline-block; font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-decoration: none; }
#flyout_menu li { background: #ffffff; }
#flyout_menu li:hover, #flyout_menu li.active { background: #5DA4EC; }
#flyout_menu ul li a { color: #666666; width: 100%; font-size: 12px; padding: 9px;}
#flyout_menu ul li a:hover,
#flyout_menu ul li a:active{ color: #ffffff !important; }
#flyout_menu ul ul li { background: #5DA4EC; }
#flyout_menu ul ul li:hover { background: #6AB4FF; }
#flyout_menu ul ul.sub li a { color: #ffffff; }
#flyout_menu ul ul.sub:hover ~ #flyout_menu ul li a{ color: #ffffff; }

/*Support Tab*/
ul#supportTab.vertical { list-style-type: none; margin: 0; padding: 0; width: 100%; background-color: #ffffff; }
ul#supportTab.vertical li a { display: block; color: #666666; padding: 8px 0 8px 16px; text-decoration: none; }
ul#supportTab.vertical li a:focus { color: #ffffff; }
ul#supportTab li.active { background-color: #5DA4EC; }
ul#supportTab li.active a { color: #fff !important; }
#supportTab a:hover{ color: #fff !important; background: #5DA4EC; }
div#mobilesidebarAccount {
    background-color: #3172b4;
    position: fixed;
    height: 100%;
    z-index: 20;
    width: 200px;
    top: 50px;
    left: -200px;
    -webkit-transition: left .5s; /* Safari */
    transition: left .5s;
}
div#mobilesidebarAccount.active {
    left: 0;
    -webkit-transition: left .5s; /* Safari */
    transition: left .5s;
}
div#mobilesidebarAccount li a{
		display: block;
		padding: 10px;
        text-decoration: none;
            background-color: #3f86ce;
    border-bottom: 1px solid #3172B4;
}
div#mobilesidebarAccount li a:hover,
div#mobilesidebarAccount li a:focus{
		color: #666666;
		background-color: #5da4ec;
		text-decoration: none;
        outline: 0;
}
div#mobilesidebarAccount li a:hover ~ div#mobilesidebarAccount li{
		background-color: #E6E6E6;
}
div#mobilesidebarCategory {
    background-color: #5DA4EC;
    position: fixed;
    height: 100%;
    z-index: 1;
    width: 200px;
    top: 50px;
    left: -200px;
    -webkit-transition: left .5s; /* Safari */
    transition: left .5s;
}
div#mobilesidebarCategory.active {
    left: 0;
    -webkit-transition: left .5s; /* Safari */
    transition: left .5s;
}
div#mobilesidebarCategory .panel-default,
div#mobilesidebarCategory .panel {
	background-color: transparent;
	border: 0;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
  box-shadow: 0 0px 0px rgba(0,0,0,0);
}
div#mobilesidebarCategory .panel-default a,
div#mobilesidebarCategory .panel a{
	text-decoration: none;
	color: #ffffff;
	display: block;
  padding: 10px;
  margin-bottom: 0 !important;
}
div#mobilesidebarCategory .panel h4:hover{
	background-color: #e6e6e6;
}
.panelBody{
	background-color: #e6e6e6;
}

/*Modal Upload*/
.form-control.file-caption.kv-fileinput-caption {
    border-radius: 0;
}
.btn.btn-primary.btn-file {
    border-radius: 0;
}
.file-preview {
    border-radius: 0 !important;
}
#panel-profile .file-preview {
    display: none;
}
#panel-profile i.glyphicon.glyphicon-folder-open {
    display: none;
}
#panel-profile .btn.btn-primary.btn-file {
    background-color: #FF6D6D;
    border-color: #FF6D6D;
}
div#mobileSearchpad {
    position: absolute;
    margin-top: -40px;
    -webkit-transition: margin-top .2s; /* Safari */
    transition: margin-top .2s;
}
div#mobileSearchpad.active {
    margin-top: 5px;
    -webkit-transition: margin-top .2s; /* Safari */
    transition: margin-top .2s;
}
