/*global*/

a:focus,a:active,.btn:focus,.btn:active,.close:focus,.close:active {

    outline: none !important;

    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.125);

    box-shadow: inset 0 0 0 rgba(0,0,0,.125);

}



.iconBtn {

    border: 0;

    background-color: transparent;

    padding: 0;

}



.vertical {

    display: table-cell;

    vertical-align: middle;

    height: 65px;

}



.close {

    text-shadow: none !important;

}



.subHeader .dropdown-menu {

    margin-top: 4px;

}



.usersBlock {

    border-left: 2px solid #212121;

    width: 278px;

}



.modal-md {

    width: 306px;

}



.navbar-toggle {

    border-color: #212121 !important;

}



.btnFontSize {

    font-size: 20px !important;

}



.btn {

    font-size: 12px;

}



input[type=checkbox],input[type=radio] {

    margin-top: 2px !important;

}



.checkbox-inline+.checkbox-inline,.radio-inline+.radio-inline {

    margin-left: 0 !important;

}



a {

    color: inherit;

}



a:hover,a:focus {

    text-decoration: none !important;

    color: inherit;

}



.form-control,.form-control:focus {

    border-color: transparent !important;

    outline: 0;

    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075),0 0 0 rgba(102,175,233,.0);

    box-shadow: inset 0 0 0 rgba(0,0,0,.075),0 0 0 rgba(102,175,233,.6);

}



body {

    font-family: arial !important;

    background-color: #333;

}



/* Padding Styles */

.padding {

    padding: 15px;

}



.paddingB {

    padding: 20px 15px;

}



.paddingC {

    padding: 8px 15px;

}



.noPadding {

    padding: 0 !important;

}



.minPadding {

    padding: 5px;

}



.minPaddingB {

    padding: 10px !important;

}



.minPaddingC {

    padding: 8px 15px !important;

}



.thumbPadding {

    padding: 5px 15px;

}



.adspanelPadding {

    padding: 0 0 5px;

}



.leftPadding {

    padding-left: 5px !important;

}



.leftPaddingB {

    padding-left: 10px !important;

}



.leftPaddingD {

    padding-left: 15px !important;

}



.leftPaddingC {

    padding-left: 20px !important;

}



.leftPaddingE {

    padding-left: 30px !important;

}



.rightPadding-lite {

    padding-right: 1px;

}



.leftPadding-lite {

    padding-left: 1px;

}



.rightPaddingFixed {

    padding-right: 5px;

}



.rightPadding {

    padding-right: 5px;

}



.rightPaddingB {

    padding-right: 10px !important;

}



.rightPaddingC {

    padding-right: 15px !important;

}



.rightPaddingD {

    padding-right: 20px !important;

}



.rightPaddingE {

    padding-right: 65px !important;

}



.topPadding {

    padding-top: 5px !important;

}



.topPaddingB {

    padding-top: 10px !important;

}



.topPaddingC {

    padding-top: 15px !important;

}



.topPaddingD {

    padding-top: 20px !important;

}



.topPaddingE {

    padding-top: 25px !important;

}



.topPaddingF {

    padding-top: 40px !important;

}



.bottomPadding {

    padding-bottom: 5px !important;

}



.bottomPaddingB {

    padding-bottom: 10px !important;

}



.bottomPaddingC {

    padding-bottom: 15px !important;

}



.bottomPaddingD {

    padding-bottom: 20px !important;

}



.bottomPaddingE {

    padding-bottom: 35px !important;

}



.bottomPaddingF {

    padding-bottom: 45px !important;

}



.noleftPadding {

    padding-left: 0 !important;

}



.norightPadding {

    padding-right: 0 !important;

}



.notopPadding {

    padding-top: 0 !important;

}



.nobottomPadding {

    padding-bottom: 0 !important;

}



.sidePadding {

    padding-left: 5px;

    padding-right: 5px;

}



.nosidePadding {

    padding-left: 0;

    padding-right: 0;

}



.cornerPadding {

    padding: 5px 0;

}



.tenpxPadding {

    padding: 10px;

}



.anglePadding {

    padding: 0 5px;

}



.heightAuto {

    height: auto !important;

}



.tableSchedule td,.tableSchedule th {

    vertical-align: middle !important;

    height: 45px;

}



.tableSchedule th,.tableSchedule tr {

    border-bottom: none !important;

}



#addNewRegistration-modal .modal-dialog {

    max-width: 360px;

    padding-top: 30px;

    margin: auto;

}



#schedule-nav li a {

    height: 50px;

    font-weight: 700;

    padding-top: 15px;

}



#schedule-nav li.active>a,#schedule-nav li.active>a:hover {

    background-color: #fff;

    color: #333;

}



#schedule-nav li a:hover {

    background-color: #333;

    color: #fff;

}



#schedule-datepicker th,#schedule-datepicker td {

    background-color: #fff;

/*color: #333333;*/

}



#schedule-datepicker table {

    background-color: #fff;

}



#schedule-datepicker div {

    border-color: #fff !important;

}



#schedule-datepicker .active {

    background-color: #333;

    color: #fff;

}



.bootstrap-datetimepicker-widget.dropdown-menu {

    margin: 0 !important;

    padding: 0 !important;

}



/* Margin Styles */

.leftMargin {

    margin-left: 5px !important;

}



.leftMarginB {

    margin-left: 10px;

}



.leftMarginC {

    margin-left: 15px;

}



.leftMarginD {

    margin-left: 20px;

}



.rightMargin {

    margin-right: 5px;

}



.topMargin {

    margin-top: 5px;

}



.topMarginB {

    margin-top: 10px;

}



.topMarginC {

    margin-top: 15px;

}



.topMarginF {

    margin-top: 20px;

}



.topMarginD {

    margin-top: 25px;

}



.topMarginE {

    margin-top: 35px;

}



.topMarginF {

    margin-top: 45px;

}



.topmarginveryLight {

    margin-top: 1px !important;

}



.topmarginveryLightB {

    margin-top: 2px !important;

}



.bottomMargin {

    margin-bottom: 5px;

}



.bottomMarginB {

    margin-bottom: 10px !important;

}



.bottomMarginC {

    margin-bottom: 15px !important;

}



.bottomMarginD {

    margin-bottom: 20px !important;

}



.bottomMarginD2 {

    margin-bottom: 30px !important;

}



.bottomMarginE {

    margin-bottom: 35px !important;

}



.bottomMarginF {

    margin-bottom: 45px !important;

}



.bottomMarginLight {

    margin-bottom: 3px;

}



.bottommarginveryLight {

    margin-bottom: 1px !important;

}



.bottommarginveryLightB {

    margin-bottom: 2px !important;

}



.sideMargin {

    margin-left: 5px;

    margin-right: 5px;

}



.noMargin {

    margin: 0 !important;

}



.notopMargin {

    margin-top: 0;

}



.nobottomMargin {

    margin-bottom: 0 !important;

}



.norightMargin {

    margin-right: 0 !important;

}



.marginbottomHeavy {

    margin-bottom: 20px;

}



.marginAuto {

    margin: auto;

}



.trainerJumbotron {

    padding-top: 18%;

}



.trainerLogin {

    padding-top: 9%;

}



.scheduleJumbotron {

    padding-top: 18%;

}



.scheduleLogin {

    padding-top: 8%;

}



.navBlock {

    padding-top: 80px;

}



.galleryBlock {

/*padding: 45px 0 35px 0;*/

    padding-top: 45px;

    padding-bottom: 35px;

    -webkit-transition: padding .2s;

    transition: padding .2s;

}



.galleryBlockB {

    padding: 114px 0 49px !important;

    -webkit-transition: padding .2s;

    transition: padding .2s;

}



.linkBlock {

    padding: 33px 0;

}



.scheduleBlock {

    padding: 33px 0 0;

}



.footerBlock {

    padding: 22px 15px;

}



.blockPadding {

    padding-top: 20px;

    padding-bottom: 20px;

}



.blockMargin {

    margin-top: 20px;

    margin-bottom: 20px;

}



.blockBottom {

    margin-bottom: 20px;

}



.blockTop {

    margin-top: 20px;

}



.blockTopB {

    margin-top: 50px;

}



.blockTopC {

    margin-top: 130px;

}



.containerBlockC {

    padding: 20px 15px !important;

}



.leftBlock {

    margin-left: 60px;

}



.leftBlockRate {

    margin-left: 85px;

}



.leftBlockCourse {

    margin-left: 370px;

}



.relative {

    position: relative;

}



.bottomText {

    position: absolute;

    bottom: 0;

    padding-bottom: 15px;

}



.checkboxAlign {

    float: left !important;

    margin-top: 1px !important;

    margin-right: 10px !important;

}



.topBottomMarginA {

    margin-top: 10px !important;

    margin-bottom: 10px !important;

}



.topBottomMarginB {

    margin-top: 15px !important;

    margin-bottom: 15px !important;

}



.topBottomMarginC {

    margin-top: 20px !important;

    margin-bottom: 20px !important;

}



.topBottomMarginD {

    margin-top: 25px !important;

    margin-bottom: 25px !important;

}



.topBottomMarginE {

    margin-top: 35px !important;

    margin-bottom: 35px !important;

}



.topBottomPadding {

    padding-top: 5px !important;

    padding-bottom: 5px !important;

}



.topBottomPaddingA {

    padding-top: 10px !important;

    padding-bottom: 10px !important;

}



.topBottomPaddingB {

    padding-top: 15px !important;

    padding-bottom: 15px !important;

}



.topBottomPaddingC {

    padding-top: 20px !important;

    padding-bottom: 20px !important;

}



.topBottomPaddingD {

    padding-top: 25px !important;

    padding-bottom: 25px !important;

}



.topBottomPaddingE {

    padding-top: 35px !important;

    padding-bottom: 35px !important;

}



.lineHeightA {

    line-height: 1.1 !important;

}



.lineHeightB {

    line-height: 1.2 !important;

}



.lineHeightC {

    line-height: 1.3 !important;

}



.lineHeightD {

    line-height: 1.4 !important;

}



.lineHeightE {

    line-height: 1.5 !important;

}



.displayTable {

    display: table;

    content: " ";

}



.tableDisplay {

    display: table;

    width: 100%;

}



.verticalB {

    display: table-cell;

    vertical-align: inherit;

}



.galleryTable {

    display: table;

    width: 100%;

    height: 65px;

}



.horizontalMiddle {

    display: table-cell;

    vertical-align: middle;

}



.downloadTable {

    display: table;

    height: 40px;

}



.downloadMiddle {

    display: table-cell;

    vertical-align: middle;

}



/*alert*/

/* Font Styling */

.starText {

    color: #fc3 !important;

}



.normalWeight {

    font-weight: 400;

}



.whiteText {

    color: #fff !important;

}



.lightText {

    color: #999 !important;

}



.lightDarkText {

    color: #626262 !important;

}



.darkText {

    color: #333 !important;

}



.blueText {

    color: #5da4ec;

}



.lightgrayText {

    color: #ccc !important;

}



.grayText {

    color: #666;

}



.notrequiredText {

    color: #ccc;

}



.smallText {

    font-size: 10px;

}



.normalText {

    font-size: 12px;

}



.mediumText {

    font-size: 14px;

}



.largeText {

    font-size: 16px;

}



.xlargeText {

    font-size: 18px;

}



.xxlargeText {

    font-size: 24px;

}



.headerText {

    font-size: 30px;

}



/*Background*/

.bgWhite {

    background-color: #fff;

}



.bgDark {

    background-color: #333;

}



.bgDarkB {

    background-color: #252525;

}



.bgGray {

    background-color: #f3f3f3;

}



.bgGrayB {

    background-color: #e6e6e6;

}



/* Button Styles */

.btnSize {

    width: 200px;

}



.btnSizeB {

    width: 119px;

}



.btnHeight {

    height: 40px;

    padding: 10px !important;

}



.btnTopBottomMargin {

    margin: 5px 0 !important;

}



.whiteButton-lite:hover,.whiteButton-lite:focus,.whiteButton-lite {

    color: #fff;

    background-color: transparent;

    border: 2px solid #fff;

}



.darkButton-lite:hover,.darkButton-lite:focus,.darkButton-lite {

    color: #999;

    background-color: transparent;

    border: 2px solid #999;

}



.whiteButton:hover,.whiteButton:focus,.whiteButton {

    color: #333;

    background-color: #fff;

    border: 2px solid #fff;

}



.darkButton:hover,.darkButton:focus,.darkButton {

    color: #fff;

    background-color: #333;

}



.darkButtonB:hover,.darkButtonB:focus,.darkButtonB {

    color: #fff;

    background-color: #646464;

}



.lightButton:hover,.lightButton:focus,.lightButton {

    color: #fff;

    background-color: #ccc;

}



.fullSize {

    width: 100%;

}



.headerButton {

    width: 200px;

    color: #333;

    background-color: transparent;

    border: 2px solid #333;

}



.headerButton:hover,.headerButton:focus {

    background-color: transparent;

    color: #333 !important;

    outline: none !important;

}



.headerButtonB,.headerButtonB:focus {

    background-color: #333;

    color: #fff !important;

    outline: none !important;

    border: 2px solid #333;

    width: 200px;

}



.btnVIew {

    background-color: #fff;

    color: #333;

    outline: none !important;

    width: 200px;

}



.btnForm,.btnForm:hover,.btnForm:focus {

    background-color: #333;

    border-color: #333;

    color: #fff;

    border-radius: 0;

    outline: none !important;

}



.formbtnRegister,.formbtnRegister:hover,.formbtnRegister:focus {

    background-color: #fff;

    border: 2px solid #333;

    color: #333;

    border-radius: 0;

    outline: none !important;

}



/* Border Styles */

.noBorder {

    border: none !important;

}



.borderBottomOnly {

    border-top: none !important;

    border-left: none !important;

    border-right: none !important;

}



.borderZero {

    border-radius: 0 !important;

}



.topBorder {

    border-top: 2px solid #212121 !important;

}



.topBorderB {

    border-top: 1px solid #e5e5e5 !important;

}



.topBorderC {

    border-top: 1px solid #f3f3f3 !important;

}



.bottomBorder {

    border-bottom: 2px solid #212121;

    box-shadow: 0 0 1px grey;

}



.bottomBorderB {

    border-bottom: 2px solid #f4f4f4;

}



.bottomBorderC {

    border-bottom: 2px solid #e6e6e6 !important;

}



.bottomBorderD {

    border-bottom: 1px solid #626262 !important;

}



.bottomBorderE {

    border-bottom: 1px solid #e8e8e8;

}



.bottomBorderF {

    border-bottom: 2px solid #e7e7e7;

}



.bottomBorderG {

    border-bottom: 3px solid #f2f2f2 !important;

}



.bottomBorderH {

    border-bottom: 1px solid #f3f3f3 !important;

}



.rightBorder {

    border-right: 1px solid #212121;

}



.rightBorderB {

    border-right: 1px solid #f4f4f4;

}



.leftBorder {

    border-left: 1px solid #212121;

}



.leftBorderB {

    border-left: 1px solid #f4f4f4;

}



/*cursor*/

.cursor {

    cursor: pointer !important;

}



.unclickable {

    pointer-events: none;

    cursor: not-allowed;

}



/* InputBox Styles */

.inputBox {

    border: 1px solid #eaeaea;

    background-color: #fafafa;

    box-shadow: none;

}



.inputLabel {

    font-weight: 400;

    margin-top: 10px;

}



/* Genric Styles */

.inputWidth {

    width: 250px !important;

}



.inputMaxWidth {

    max-width: 250px !important;

}



.fullSize {

    width: 100%;

/*height: 100%;*/

}



.fullHeight {

    height: 100%;

}



.maxWidthImg {

    max-width: 260px;

    max-height: 260px;

    width: 100%;

}



/* List and Group Styles */

.listTitle {

    color: #5da4ec;

    font-size: 16px;

    font-weight: 700;

    text-transform: uppercase;

}



/* Panel Styles */

.panel {

    -webkit-box-shadow: 0 0 0 rgba(0,0,0,.05) !important;

    box-shadow: 0 0 0 rgba(0,0,0,.05) !important;

}



.panelHeader {

    height: 55px;

    padding: 10px 0;

}



.noBg {

    background-color: transparent !important;

    border-radius: 0 !important;

}



.lightPanel {

    padding: 20px 15px;

    background-color: #fff !important;

    font-size: 14px !important;

    border-radius: 0 !important;

    text-transform: uppercase;

}



.lightpanelTitle {

    font-size: 14px !important;

    font-weight: 700;

    color: #666 !important;

}



.darkPanel {

    padding: 20px 15px;

    background-color: #333 !important;

    color: #fff !important;

    font-size: 14px !important;

    border-radius: 0 !important;

    text-transform: uppercase;

}



.darkpanelTitle {

    font-size: 14px !important;

    font-weight: 700;

}



/* Table Style */

#cartTable thead tr th {

    border: none;

    font-size: 14px;

    font-weight: 700;

    text-transform: uppercase;

    color: #666;

}



#cartTable thead tr th:first-child {

    padding-left: 0;

}



#cartTable thead tr th:last-child {

    float: right;

}



#cartTable tbody tr:last-child td {

    padding-bottom: 45px;

}



#cartTable tbody tr th {

    border: none;

    font-size: 14px;

    font-weight: 700;

    text-transform: uppercase;

    color: #666;

}



#cartTable tbody tr td {

    border: none;

    font-size: 14px;

    font-weight: 400;

    text-transform: capitalize;

    color: #666;

}



#cartTable tbody tr th:last-child {

    float: right;

}



#cartTable tbody tr td:last-child {

    float: right;

    font-size: 14px;

    font-weight: 700;

}



#cartTable tbody tr th:first-child {

    padding-left: 28px;

}



#cartTable tbody tr:nth-child(n+2) td {

    padding-left: 28px;

}



/*Text*/

.wordBreak {

    word-break: break-word;

}



.wordBreakB {

    word-break: break-all;

}



.noWrap {

    overflow: hidden;

    white-space: nowrap;

}



.ellipsis {

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

}



.bold {

    font-weight: 700;

}



/*Modal Styles*/

/*Loading*/

/*display*/

.flex {

    display: flex;

}



.inlineBlock {

    display: inline-block;

}



/*tiles*/

.tilesA {

    padding: 5px 10px 5px 0;

}



.tilesB {

    padding: 5px;

}



.tilesC {

    padding: 5px 0 5px 10px;

}



.tilesPadding {

    padding: 10px;

}



/*theme*/

.lightthemeHeader {

    background-color: rgba(255,255,255,0.8);

}



.lightthemeHeaderB {

    background-color: rgba(255,255,255,1);

    border-bottom: 1px solid #eee;

    animation: fadein 1s;

}



.darkthemeHeader {

    background-color: rgba(51,51,51,0.5);

}



.darkthemeHeaderB {

    background-color: rgba(51,51,51,1);

    border-bottom: 1px solid #333;

    animation: fadein 1s;

}



@keyframes fadein {

    from {

        opacity: .5;

    }



    to {

        opacity: 1;

    }

}



/*custom*/

a.dropdown-toggle:focus {

    color: #999;

}



.dropdown-menu {

    padding: 0;

    border-radius: 0;

    background-color: #333;

}



.dropdown-menu li a {

    color: #fff;

    padding: 5px 20px !important;

}



.dropdown-menu li a:hover {

    color: #fff !important;

    background-color: #646464;

}



.sony-header {

    height: 80px;

    position: fixed;

    top: 0;

    width: 100%;

    -webkit-transition: top .2s;

/* Safari */

    transition: top .2s;

}



.sony-header span img {

    padding-top: 25px;

    height: 55px !important;

}



.headerToggle {

    top: -80px;

    -webkit-transition: top .2s;

/* Safari */

    transition: top .2s;

}



.sony-headerB {

    position: fixed;

    top: -150px;

    width: 100%;

    -webkit-transition: top .2s;

/* Safari */

    transition: top .2s;

}



.headerToggleB {

    top: 0;

    -webkit-transition: top .5s;

/* Safari */

    transition: top .5s;

    animation: fadein .5s;

}



.logo {

    height: 80px;

}



.logo span img {

    padding-top: 25px;

}



.navbar-sony-logo {

    background-color: #fff !important;

    height: 80px !important;

    border-bottom: 1px solid #eee !important;

}



.navbar-nav li {

    font-size: 12px;

    color: #999;

}



.navbar-nav li:focus {

    color: #333;

}



.navbar-right ul li:before {

    border-bottom: 1px solid #eee !important;

}



.navbar-sony-menu {

    padding-top: 80px;

}



.mainNav {

    color: #999;

    font-size: 12px;

}



.mainNav li {

    padding: 15px 30px 15px 0;

}



.mainNav li:last-child {

    padding: 15px 0;

}



.mainNav li a:hover {

    color: #333;

}



.subHeader {

    color: #999;

    font-size: 12px;

}



.subHeader li {

    padding: 15px 30px 15px 0;

}



.subHeader li:last-child {

    padding: 15px 0 !important;

}



.subHeader li a:hover {

    color: #fff;

}



.searchHeader {

    color: #999;

    font-size: 12px;

}



.searchHeader li {

    padding: 14px 30px 14px 0;

}



.searchHeader li:last-child {

    padding: 15px 0 !important;

}



.searchHeader li a:hover {

    color: #999;

}



/*.secondaryNav .dropdown .dropdown-menu{margin-top: 7px;}*/

.secondaryNav li a:hover {

    color: #fff;

}



.secondaryNav {

    color: #999;

    font-size: 12px;

}



.secondaryNav li {

    padding: 35px 30px 35px 0;

}



.secondaryNav li:last-child {

    padding-right: 0 !important;

}

.drop .dropdown-menu{
    margin-bottom: -1px;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,.175);
    box-shadow: 0 0px 0px rgba(0,0,0,.175);
}

.dropB .dropdown-menu{
    margin-bottom: 4px;
    margin-top: -2px;
     border-radius: 0; 
    border-top: 1px solid #252525;
    border-bottom: none;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,.0);
    box-shadow: 0 0px 0px rgba(0,0,0,.0);
}

.dropdownFloat {

    margin-top: -2px;

}



.dropdownFloatB {

    margin-top: 0 !important;

}



.dropdown-menu li {

    padding: 0 !important;

    border-bottom: 1px solid #252525;

}



.dropdown-menu li:last-child {

    padding: 0 !important;

}



/*.dropdown{padding-bottom: 5px !important}*/

.dropdownToggle li a:hover {

    color: #fff;

    background-color: #646464;

}



`

.fixme {

    opacity: 1;

    -webkit-transition: all .2s;

/* Safari */

    transition: all .2s;

}



.fixmeToggle {

    display: none;

    opacity: 0;

    -webkit-transition: all .2s;

/* Safari */

    transition: all .2s;

}



.jumbotronCaption {

    padding-top: 10%;

}



.homejumbotronCaption {

    padding-top: 25%;

}



.profileThumbnail {

    padding: 0;

    position: relative;

    overflow: hidden;

    height: 243px;

}



.profileThumbnail img {

    height: 100%;

    width: 100%;

}



.profileThumbnail .caption {

    position: absolute;

    padding: 0 30px;

/*    padding: 0px 30px 20px 30px;*/

    width: 100%;

    height: 250px;

    background-color: rgba(0,0,0,0.5);

    top: 180px;

    -webkit-transition: top .5s,padding .5s;

/* Safari */

    transition: top .5s,padding .5s;

}



.profileThumbnail:hover .caption {

    height: 250px;

    top: 0;

    padding-top: 60px;

    -webkit-transition: top .7s,padding-top .7s;

/* Safari */

    transition: top .7s ,padding-top .7s;

}



.profileThumbnail .caption:hover {

    height: 250px;

    top: 0;

/*padding-top: 60px;*/

    padding-top: 35px;

    -webkit-transition: top .5s,padding-top .5s;

/* Safari */

    transition: top .5s ,padding-top .5s;

}



.list-unstyled li {

    padding: 0 0 5px;

}



.list-unstyled li:last-child {

    padding-bottom: 0;

}



.list-unstyled li a {

    color: #999;

    font-size: 12px;

}



.fixed {

    position: fixed;

    top: 80px;

    left: 0;

    right: 0;

    background-color: #fff;

    z-index: 1;

    -webkit-transition: position .5s;

/* Safari */

    transition: position .5s;

}



.select {

    border: none !important;

    -webkit-appearance: none;

    background-color: transparent;

}



.select:focus {

    outline: none !important;

}



.toggle {

    position: absolute;

    top: 80px;

    -webkit-transition: all .2s;

    transition: all .2s;

}



.toggleSearch {

    top: 81px;

    -webkit-transition: all .2s;

    transition: all .2s;

}



.searchWidth {

    max-width: 850px;

}



.showMenu {

    display: block;

    opacity: 1;

    -webkit-transition: all .2s;

    transition: all .2s;

}



.showMenuB {

    display: none;

    opacity: 0;

    -webkit-transition: all .2s;

    transition: all .2s;

}



.searchArea {

    opacity: 0;

    width: 0;

    -webkit-transition: all .5s;

/* Safari */

    transition: all .5s;

}



.searchAreaB {

    opacity: 1;

    width: 300px;

}



.inputForm {

    border-radius: 0;

    color: #fff;

    background-color: transparent;

    border-color: transparent;

    webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075);

    box-shadow: inset 0 0 0 rgba(0,0,0,.075);

}



.inputFormD {

    border-radius: 0;

    color: #333;

    background-color: transparent;

    border-color: transparent;

    webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075);

    box-shadow: inset 0 0 0 rgba(0,0,0,.075);

}



.inputFormC {

    border-radius: 0;

    color: #333;

    background-color: #f2f2f2;

    border-color: #f2f2f2;

    webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075);

    box-shadow: inset 0 0 0 rgba(0,0,0,.075);

}



.inputFormB {

    border-radius: 0;

    color: #333;

    background-color: transparent;

    border-color: transparent;

    webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075);

    box-shadow: inset 0 0 0 rgba(0,0,0,.075);

}



.modal-footer {

    text-align: left !important;

}



.close {

    font-weight: 400 !important;

    color: #666 !important;

    opacity: 1 !important;

}



.fa-search,.fa-shopping-cart,.fa-times {

    font-size: 19px !important;

    cursor: pointer;

}



#myCarousel {

    z-index: 2;

}



.carousel-fade .carousel-inner .item {

    opacity: .7;

    transition-property: opacity;

    -webkit-transition: opacity .7s;

    transition: opacity .7s;

}



.carousel-fade .carousel-inner .active {

    opacity: 1;

}



.searchBarSub {

    opacity: 0;

    padding: 4px 0;

    position: absolute;

    background-color: #333;

    z-index: 1;

    top: -80px;

    -webkit-transition: opacity .5s;

    transition: opacity .5s;

}



.searchBarSubB {

    opacity: 1;

    top: 5px;

}



.searchBar {

    opacity: 0;

    padding-top: 27px;

    position: absolute;

    height: 90px;

    background-color: #333;

    z-index: 1;

    top: -80px;

    -webkit-transition: opacity .5s;

    transition: opacity .5s;

}



.searchBarB {

    width: 100%;

    opacity: 1;

    top: 0;

    -webkit-transition: opacity .5s;

    transition: opacity .5s;

}



.text-float {

    text-align: left;

}



.searchBadge {

    border-radius: 0;

    background-color: #e6e6e6;

    color: #333;

    font-weight: 400;

    padding: 5px 15px;

    width: 70px;

}



.galleryText {

    display: table;

    width: 100%;

    height: 40px;

}



.galleryCaption {

    z-index: 1;

    opacity: 0;

    padding: 0 30px;

    background-color: rgba(0,0,0,0.5);

    height: 100%;

    position: relative;

    top: 225px;

    -webkit-transition: all .5s;

    transition: all .5s;

}



#myGallery a:hover .galleryCaption {

    opacity: 1;

    padding: 30px;

    top: 0;

    -webkit-transition: all .5s;

    transition: all .5s;

}



/*Read More*/

.article .text.short {

    overflow: hidden;

}



.article .text.full {

    display: none;

}



.read-more {

    cursor: pointer;

    display: inline-block;

}



.col-nav-left {

    position: relative;

    min-height: 1px;

    padding-right: 15px;

    padding-left: 15px;

    width: 77%;

    float: left;

}

.btn-reduce{
    width:70%;
    max-width:180px;
    min-width: 140px;
}


.col-nav-right {

    position: relative;

    min-height: 1px;

    padding-right: 15px;

    padding-left: 15px;

    width: 23%;

    float: left;

}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #000000;
    border-color: #000000;
    color: #ffffff !important;
    border-radius: 0;
    z-index: 15;
}
.horizontal-slide li {list-style-type: none}
ul.horizontal-slide {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    overflow-x: auto;
}
.jumbotronDisplay{display: table; height:calc(100vh - 90px);}
.jumbotronMiddle{display: table-cell; vertical-align:middle;}
.carousel-control {
    width: 10% !important;
}
.carousel-control .icon-prev, 
.carousel-control .icon-next {
    font-size: 100px;
}
.carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    font-size: 40px;
}
.fullscreenButton{
    position: absolute;
    top: 5%;
    right: 5%;
}
.carousel-control .glyphicon-menu-left{
   right: 50%
}
.carousel-control .glyphicon-menu-right {
    left: 50%;
}
.fullscreenImg{height: 90% !important; -webkit-transition: height 2s; /* Safari */
    transition: height 2s}
.modal-dialog {width:98%;}
#myPhoto .modal-content{background-color: transparent; border: none; -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.0); box-shadow: 0 0px 0px rgba(0,0,0,.0);}
#myPhoto .modal-header, #myPhoto .modal-footer{ border: none; }
#myPhotoView .carousel-inner, .carousel-inner .item img{margin: auto;max-height: 50%;height: 100%; max-width: 100%;}
#myPhoto > div > div > div.modal-body.noPadding > img {width: 100%}
#myPhotoView .carousel-control { top: 50%; height: 20px; }
#myPhotoView .carousel-control.right, #myPhotoView .carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0 0,rgba(0,0,0,0) 100%));
}
#myPhotoView2 .carousel-control { top: 50%; height: 20px; }
#myPhotoView2 .carousel-control.right, #myPhotoView2 .carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0 0,rgba(0,0,0,0) 100%));
}
html>/**/body #myPhotoView .carousel-inner, .carousel-inner .item img{margin: auto;max-height: 50%;height: auto ; max-width: 100%;}
html>/**/body #myPhotoView .carousel-control.right, #myPhotoView .carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

}
@-moz-document url-prefix() { 
  #myPhotoView .carousel-inner, .carousel-inner .item img{margin: auto;max-height: 50%;height: auto !important; max-width: 100%;}

}

