@media screen and (max-width: 480px) {
	.trainersImg {
		max-width: 100%;
		max-height: 100%;
	}
}

@media screen and (min-width: 481px) {
	.trainersImg {
		max-width: 260px;
		max-height: 260px;
		width: 100%;
	}
}

@media screen and (max-width: 412px) {
	#schedule-nav li a {
		height: 70px;
		font-weight: 700;
		padding-top: 15px;
	}
}

@media screen and (max-width: 1024px) {
	.jumbotronCaption {
		padding-top: 16%;
	}

	.btnSizeB {
		width: 110px;
	}

	.horizontalMiddle {
		font-size: 90%;
	}
}

@media screen and (max-width: 990px) {
	.rightPaddingE {
		padding-right: 65px !important;
	}

	.trainerJumbotron {
		padding-top: 25%;
	}

	.trainerLogin {
		padding-top: 14%;
	}

	.sony-header span img {
		padding-top: 25px;
		height: 55px !important;
	}

	.homejumbotronCaption {
		padding-top: 50%;
	}

	.sony-headerB {
		top: -200px;
	}

	.headerToggleB {
		top: 0;
	}

	.text-right-sm {
		text-align: right !important;
	}

	.subHeader li {
	/*padding: 15px 12px 15px 0;*/
		padding: 15px 10px 15px 0;
	}

	.jumbotron {
		padding-top: 130px !important;
	}

	.secondaryNav li {
		padding: 35px 12px 35px 0;
	}

	.profileThumbnail .caption {
		top: 183px;
		-webkit-transition: top .5s,padding .5s;
		transition: top .5s,padding .5s;
	}

	.profileThumbnail .caption:hover {
		padding-top: 50px;
	}

	.profileThumbnail:hover .caption {
		padding-top: 20px;
	}

	.btnVIew {
		width: 190px;
	}

	.smTopPaddingE {
		padding-top: 35px !important;
	}

	.jumbotronCaption {
		padding-top: 20%;
	}

	.text-right-sm {
		text-align: right !important;
	}

	.text-left-sm {
		text-align: left !important;
	}

	.noLeftPadding-sm {
		padding-left: 0 !important;
	}

	.tilesA {
		padding: 5px;
	}

	.tilesB {
		padding: 5px;
	}

	.tilesC {
		padding: 5px;
	}
}

@media only screen and (max-width: 767px) {
.paddingTopmobile{padding-top: 20px}
#myPhotoView .carousel-inner, .carousel-inner .item img {
    height: 300px;
    width: auto;
    margin: auto;
}
	.galleryCaption {
    z-index: 1;
    opacity: 0;
    padding: 0 30px;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    position: relative;
    top: 225px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

#myGallery a:hover .galleryCaption {
	opacity: 1;
    padding: 30px;
    top: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}
	/*#mygallery a {height:300px !important;}
	#mygallery a img {width: 100% !important; height:300px !important;}*/
	.menu	{
		position: relative !important;
    	bottom: 0 !important;
    	top: 0 !important;
    	margin-top: 0 !important;
	}
	.container {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}

	.btnSizeB {
		width: 110px;
	}

	.scheduleLogin {
		padding-top: 100px;
	}

	.text-center-xs {
		text-align: center;
	}

	.trainerJumbotron {
		padding-top: 30%;
	}

	.leftBlockCourse {
		margin-left: 0;
	}

	.text-right-xs {
		text-align: right !important;
	}

	.text-left-xs {
		text-align: left !important;
	}

	.noLeftPadding-xs {
		padding-left: 0 !important;
	}

	.noRightPadding-xs {
		padding-right: 0 !important;
	}

	.noTopPadding-xs {
		padding-top: 0 !important;
	}

	.padding-xs {
		padding: 10px;
	}

	.bottomPadding-xs {
		padding-bottom: 15px !important;
	}

	.horizontalMiddle {
		font-size: 90%;
	}

	.noPadding-xs {
		padding: 0;
	}

	.leftPadding,.rightPadding {
		padding: 0 15px 5px !important;
	}

	.mobile-leftPadding {
		padding-left: 5px !important;
	}

	.mobile-rightPadding {
		padding-right: 5px !important;
	}

	.mobile-topPadding {
		padding-top: 10px;
	}

	.mobile-topMargin {
		margin-top: 15px;
	}

	.rightPadding-lite,.leftPadding-lite {
		padding: 0 15px 5px !important;
	}

	.col-nav-left {
		width: 72% !important;
	}

	.col-nav-right {
		width: 27% !important;
	}

	.subHeader li {
		padding: 15px 12px 15px 0;
	}

	.navbar span img {
		height: 25px !important;
	}

	.headerText {
		font-size: 24px;
	}

	.headerButton {
		width: 150px;
	}

	.headerButton:hover,.headerButton:focus {
		background-color: #fff;
		color: #333;
		outline: none !important;
	}

	.headerButtonB,.headerButtonB:focus {
		width: 150px;
	}

	.profileThumbnail .caption {
		position: absolute;
		padding: 0 30px;
		width: 100%;
		height: 300px;
		background-color: rgba(0,0,0,0.5);
		top: 180px;
		-webkit-transition: top .5s,padding .5s;
	/* Safari */
		transition: top .5s,padding .5s;
	}

	.linkBlock ul {
		height: 140px;
	}

	.jumbotronCaption {
		padding-top: 45%;
	}

	.homejumbotronCaption {
		padding-top: 60%;
	}

	.footerRegion {
		float: left !important;
	}

	.parallax {
		height: 100% !important;
	}

	.parallaxB {
		height: calc(500px - 90px) !important;
	}

	.parallaxC {
		height: calc(650px - 30px) !important;
	}

	.linkblock ul {
		margin-bottom: 20px !important;
	}

	.linkblock {
		padding-bottom: 0;
	}

	.text-float {
		text-align: center;
	}

	.tilesA {
		padding: 5px 0;
	}

	.tilesB {
		padding: 5px 0;
	}

	.tilesC {
		padding: 5px 0;
	}

	.text-right {
		text-align: left !important;
	}

	.topPadding-mobile {
		padding: 5px 0 0;
	}

	.topMargin-mobile {
		margin: 5px 0 0;
	}

	.btnSize {
		width: 100%;
	}

	.noleftPadding-mobile {
		padding-left: 0;
	}

	.leftMarginD {
		margin-left: 40px;
	}

	.float-xs-left {
		float: left !important;
	}
}

@media screen and (max-width: 1199px) {
	.col-nav-left {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		width: 70%;
		float: left;
	}

	.col-nav-right {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		width: 30%;
		float: left;
	}
}