/*COMMON*/
.borderzero{
  border-radius: 0;
}
.blue{
  color: #5da4ec;
}
.blueButton:hover,
.blueButton{
  color: #ffffff;
  background-color: #5da4ec;
}
.red{
  color: #ff6d6d !important;
  opacity: 1;
}
.redButton:hover,
.redButton{
  color: #ffffff;
  background-color: #ff6d6d;
}
.gray{
  color: #666666 !important;
}
.inputLabel{
  font-size: 12px;
  color: #666666;
}
.main-title{
  font-weight: bold;
  font-size: 14px;
  color: #5da4ec;
  text-transform: uppercase;
}
.titleInformation:hover,
.titleInformation{
  text-decoration: none;
  font-size: 12px;
  color: #ff6d6d;
  text-transform: uppercase;
}
.titleBorder{
  border-bottom: 2px solid #9fcfff;
}
/*COMMON*/
/*HEADER*/
.logo{
  padding-top: 20px;
}
.navRight{
  padding-top: 8px;
  float: right !important;
}
nav.myNavbar {
  background-color: #ffffff;
  border-bottom: 2px solid #dddddd;
}
.loginPad{
  margin-bottom: 50px;
  width: 100%;
  height: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.loginPad.active{
  margin-bottom: 0px;
  width: 100%;
  height: 50px;
  margin-top: 97px;
  background-color: #f3f3f3;
  -webkit-transition: all .2s;
  transition: all .5s;
}
.loginpad-logout{
  padding-top: 100px;
}
.activationLabel{
  padding: 12px;
}
ul.loginUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #transparent;
}

.loginUL li {
    float: left;
}

.loginUL li a {
    display: block;
    color: #666666;
    font-size: 12px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.loginUL li a:hover {
    background-color: #ddd;
}
@media screen and (max-width: 650px) {
.hidden650 {
    display: none;
}
.loginPad.active{
    display: none;
}
.navRight{
  float: left !important;
}
}


/*HEADER*/
/*MODAL*/
.modalFooter {
    padding: 0px 15px 15px 15px;
}
.modalFooterReg {
    padding: 15px 15px 15px 15px;
}
.modalFooterBorder{
  border-top: 1px solid #b3b3b3;
}
.socialMediaContent{
  border-top: 1px solid #b3b3b3;
  padding: 15px;
  border-bottom: 1px solid #b3b3b3;
}
.submit:hover,
.submit{
  color: #ffffff;
  background-color: #5da4ec;
}
.btn-facebook:hover,
.btn-facebook{
  background-color: #276db3;
  color: #ffffff;
}
.btn-twitter:hover,
.btn-twitter{
  background-color: #5da4ec;
  color: #ffffff;
}
.btn-google:hover,
.btn-google{
  background-color: #ff6a6a;
  color: #ffffff;
}
.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}
/*MODAL*/