.navRight{
  padding-top: 8px;
  float: right !important;
}
nav#myNavbar {
  background-color: #ffffff;
  border-bottom: 2px solid #dddddd;
}
.loginPad{
  margin-bottom: 50px;
  width: 100%;
  height: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.loginPad.active{
  margin-bottom: 0px;
  width: 100%;
  height: 50px;
  margin-top: 100px;
  background-color: #f3f3f3;
  -webkit-transition: all .2s;
  transition: all .5s;
}

.loginpad-logout{
  padding-top: 100px;
}
ul#loginUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #transparent;
}

#loginUL li {
    float: left;
}

#loginUL li a {
    display: block;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#loginUL li a:hover {
    background-color: #ddd;
}
ul#navUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #transparent;
}
#navUL li {
    float: left;
}

#navUL li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navUL li a:hover {
    background-color: #ddd;
}
@media screen and (max-width: 650px) {
.hidden650 {
    display: none;
}
.loginPad.active{
    display: none;
}
.navRight{
  float: left !important;
}
}

