/* Padding Styles */
.noPadding { padding:0 !important; }
.minPadding {	padding:5px; }
.minPaddingB { padding:10px !important; }
.minPaddingC { padding:15px !important; }
.thumbPadding { padding: 5px 15px 5px 15px}
.adspanelPadding { padding: 0 0 5px 0; }
.leftPadding { padding-left:5px !important; }
.leftPaddingB { padding-left:10px !important; }
.leftPaddingD { padding-left:15px !important; }
.leftPaddingC { padding-left:20px !important; }
.rightPadding {	padding-right:5px;}
.rightPaddingB { padding-right:10px !important; }
.rightPaddingC { padding-right:15px !important; }
.topPadding {	padding-top:5px !important; }
.topPaddingB {	padding-top:10px !important; }
.topPaddingD {  padding-top:15px !important; }
.topPaddingC {  padding-top:20px !important; }
.topPaddingE {  padding-top:30px !important; }
.bottomPadding { padding-bottom:5px !important;}
.bottomPaddingB { padding-bottom:10px !important;}
.bottomPaddingC{ padding-bottom:15px !important;}
.bottomPaddingD{ padding-bottom:20px !important;}
 
.noleftPadding {	padding-left:0;}
.norightPadding {	padding-right:0;}
.notopPadding {	padding-top:0 !important;}
.nobottomPadding {	padding-bottom:0 !important;}
.sidePadding {	padding-left:5px; padding-right:5px;}
.nosidePadding { padding-left: 0; padding-right: 0; }
.cornerPadding { padding: 5px 0 5px 0; }
.tenpxPadding { padding: 10px; }
.anglePadding{ padding: 0px 5px; }

/* Margin Styles */
.leftMargin {	margin-left:5px !important;}
.leftMarginB {	margin-left:10px;}
.leftMarginC {	margin-left:15px;}
.rightMargin {margin-right:5px;}
.topMargin { margin-top:5px; }
.topMarginB { margin-top:10px; }
.topmarginveryLight { margin-top:1px !important; }
.topMarginB {margin-top:10px;}
.bottomMargin {margin-bottom:5px;}
.bottomMarginB {margin-bottom:10px !important;}
.bottomMarginC {margin-bottom:15px !important;}
.bottomMarginD {margin-bottom:20px !important;}
.bottomMarginLight {margin-bottom:3px;}
.bottommarginveryLight {margin-bottom:1px !important;}
.bottommarginveryLightB {margin-bottom:2px !important;}
.sideMargin { margin-left:5px; margin-right:5px;}
.noMargin {margin:0 !important;}
.notopMargin { margin-top:0 !important;}
.nobottomMargin {	margin-bottom:0 !important;}
.marginbottomHeavy{ margin-bottom: 20px; }

.blockMargin { margin-top:20px; margin-bottom:20px;}
.blockBottom { margin-bottom:20px;}
.blockTop { margin-top:20px;}

/*Float*/
.left {
  float: left;
  margin-right: 1em;
}

.right {
  float: right;
  margin-left: 1em;
}
.checkboxAlign { float: left !important;  margin-top: 1px !important; margin-right: 10px !important; }


/*alert*/
.alert-yakolak { background-color: #fafafa}

/* Font Styling */
.normalWeight {font-weight: normal;}
.rateStars{ color: #fac04b; }
.rateStarsB{ color: #cccccc !important; }
.whiteText { color:#ffffff !important; }
.redText { color:#ff6d6d !important; }
.blueText { color:#5da4ec;}
.lightgrayText {color:#cccccc !important;}
.grayText {color:#666666;}
.grayTextB {color:#999999;}
.notrequiredText{ color: #cccccc;}

.smallText { font-size:10px }
.normalText { font-size:12px }
.mediumText { font-size:14px }
.largeText { font-size:16px }
.xlargeText { font-size:18px }
.xxlargeText { font-size:24px }

/*Line Height*/
.lineHeight{ line-height: 1.4; }
.lineHeightB{ line-height: 1.1; }
.lineHeightC{ line-height: 2; }
.lineHeightA{ line-height: 1.5; }

/*Background*/
.blueBackground{	color: #ffffff;	background-color: #5da4ec;}
.redBg{ background-color: #ff6666 !important;}
.noBackground{ background-color: transparent !important; border: 0 !important; }
.accordionBg{ display: block; padding: 10px !important; text-decoration: none; background-color: #3f86ce !important; border-bottom: 1px solid #3172B4; }
.accordionBody { border: 0 !important; !important; background-color: #2B66A2; color: #ffffff; }
/* Button Styles */
.watchButton:hover, .watchButton:focus, .watchButton{  color: #ffffff; background-color: #66cc99;}
.rateButton:hover, .rateButton:focus, .rateButton{  color: #ffffff; background-color: #fac04b;}
.blueButton:hover, .blueButton:focus, .blueButton{	color: #ffffff;	background-color: #5da4ec;}
.noBGButton:hover, .noBGButton:focus, .noBGButton{	color: #7EACDA;	background-color: transparent;}
.redButton:hover, .redButton:focus, .redButton{	color: #ffffff;	background-color: #ff6d6d;}
.grayButtonB:hover, .grayButtonB:focus, .grayButtonB{ color: #ffffff; background-color: #cccccc !important;}
.grayButton:hover, .grayButton:focus, .grayButton{	color: #ffffff;	background-color: #cccccc;}
.closeButton:hover, .closeButton:focus, .closeButton{	color: #ff6d6d; opacity: 1;}
.facebookButton:hover, .facebookButton:focus, .facebookButton{	color: #ffffff;	background-color: #3b5998;}
.googleButton:hover, .googleButton:focus, .googleButton{  color: #ffffff; background-color: #dd4b39;}
.twitterButton:hover, .twitterButton:focus, .twitterButton{	color: #ffffff;	background-color: #00aced;}
.linkedinButton:hover, .linkedinButton:focus, .linkedinButton{	color: #ffffff;	background-color: #007bb6;}
.tumblrButton:hover, .tumblrButton:focus, .tumblrButton{  color: #ffffff; background-color: #32506d;}
.redditButton:hover, .redditButton:focus, .redditButton{  color: #ffffff; background-color: #5f99cf;}
.menuToggle { padding-top:10px; font-size:14px; color: #7EACDA}
/* Border Styles */
.borderRadius{border-radius: 2px}
.grayBorder{ border: 1px solid #f3f3f3}
.borderZero{	border-radius: 0 !important; box-shadow:none;}
.removeBorder {border:none !important; -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05); box-shadow: 0 0px 0px rgba(0,0,0,.05);}
.borderBottom {	border-bottom: 2px solid #e6e6e6 !important;}
.borderTop {	border-top: 2px solid #e6e6e6;}
.borderTopB {    border-top: 2px solid #99CCFF;}
.borderBottomDark {	border-bottom: 2px solid #b3b3b3;}
.borderBottomDarkLight { border-bottom: 1px solid #b3b3b3;}
.borderTopDark {	border-top: 2px solid #b3b3b3;}
.borderTopDarkB {  border-top: 1px solid #b3b3b3;}
.borderbottomLight {	border-bottom: 1px solid #e6e6e6 !important;}
.bordertopLight {	border-top: 1px solid #e6e6e6;}
.bordertopLightB { border-top: 1px solid #f3f3f3;}
.borderLeft { border-left: 1px solid #f3f3f3;}
.borderRight { border-right: 1px solid #f3f3f3;}
.borderbottomPlan { border-bottom: 2px #5da4ec solid !important; }
.borderbottomPlanB { border-bottom: 2px #ffffff solid !important; }
.borderbottomPlanC { border-bottom: 2px #ffffff solid !important; }

/*cursor*/
.cursor{ cursor: pointer !important;}
.unclickable{pointer-events: none;
   cursor: not-allowed;}
/* InputBox Styles */
.inputBox { border: 1px solid #eaeaea; background-color:#fafafa; box-shadow:none; }
.inputLabel {font-weight:normal; margin-top:10px}

/* Genric Styles */
.fullSize {	width: 100%;	/*height: 100%;*/ }
.noBg{ background-color: transparent;}
.bgWhite { background-color:#ffffff !important; }
.bgGray {background-color:#f3f3f3 !important;}
.bgGrayB {background-color:#666666 !important;}
.bgGrayC{background-color: #cccccc !important;}
.bglightGray {background-color: #fafafa; }
.bgAqua {background-color: #00c0ef !important;}
.bgRed {background-color: #ff6d6d !important;}
.bgGreen {background-color: #00a65a !important;}
.bgYellow {background-color: #f39c12 !important;}
.bannerJumbutron { margin-top:100px; margin-bottom:20px;}
.bgBronze{ background-color: #cd7f32 !important;}
.bgSilver{ background-color: #c0c0c0  !important;}
.bgGold{ background-color: #ffd700  !important;}

/* List and Group Styles */
.listTitle { color:#5da4ec; font-size:16px; font-weight:bold; text-transform:uppercase;}

/* Panel Styles */
.panelTitle { color:#5da4ec; font-size:14px; font-weight:bold; text-transform:uppercase;}
.panelTitleB { color:#5da4ec; font-size:14px; font-weight:bold; }
.panelTitleSub { color:#666666; font-size:12px; font-weight:bold; text-transform:uppercase;}
.panelRedTitle { color:#ff6666; font-size:14px; font-weight:bold; text-transform:uppercase;}
.panelBlueTitle { color:#5da4ec; font-size:14px; font-weight:bold; text-transform:uppercase;}
.panel-heading.panelTitleBar { background-color:#ffffff; border-bottom:2px #99ccff solid; height:40px; color:#999999; font-size:12px;}
.panel-heading.planTitleBar { border-radius: 0; background-color:#ffffff; solid; color:#999999; font-size:12px;}
.panel-heading.planTitleBarB { border-radius: 0; background-color:#999999; solid; color:#ffffff; font-size:12px;}
.panel-heading.panelTitleBarLight { background-color:#ffffff; border-bottom:2px #99ccff   solid; height:40px; color:#999999; font-size:12px;}
.panel-heading.panelTitleBarLightB { background-color:#ffffff; border-bottom:1px #e6e6e6 solid; height:40px; color:#999999; font-size:12px;}
.panel-heading.messageTitle { padding-top: 15px !important;color:#999999; font-size:14px; font-weight:bold; text-transform:uppercase; background-color: transparent;}
.minHeight{ min-height: 312px; }
.bodyHeight{ min-height: 218px; }

/*Plan Table*/
.tablerightBorder{ border-right: solid 3px white; }
/*Ad Rating*/
.adRating{ color: #ffcc66;}
/* Ad Image Styles */
.adImage { height: 160px; width: auto;}
.adImageB { 
    height: 130px;
    width: 120px !important;
    float: left;
    /*width: 45%;*/
    /* border: 1px solid black; */
    text-align: center;
    margin-right: 10px;
}

/*Text*/
.wordBreak{ word-break: break-word; }
.wordBreakB{ word-break: break-all; }
.noWrap { overflow: hidden; white-space: nowrap;}
.bold { font-weight: bold; }
/*Modal Styles*/
.loginSize{ width: 330px; min-width: 100%; }
.inputTitle { font-size:12px; color:#ff6666; text-transform: uppercase; }
.modalSocialMedia { padding: 15px 15px 0 15px;}
.modalFooter{ padding: 0 15px 15px 15px; }
.modalTitle { color:#5da4ec; font-size:14px; font-weight:bold; text-transform:uppercase;}
.modalTitleBar { padding: 10px; background-color:#ffffff; border-bottom:2px #99ccff solid; min-height:40px; color:#999999; font-size:12px;}

/*Loading*/
.loading-pane .fa{ color: #000 !important; }
.loading-pane { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 1039; background-color: #fff; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; filter: alpha(opacity=30); -moz-opacity: 0.3; -khtml-opacity: 0.3; opacity: 0.3; text-align: center; }
.loading-pane > div { position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; height: 64px; width: 64px; }
.modal .loading-pane { z-index: 5000; }

/*Float*/
.left { float: left; margin-right: 1em; }
.right { float: right; margin-left: 1em; }

/*display*/
.ellipsis{ white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}
.flex {display: flex; }
.inlineBlock{display: inline-block;}

.thumbnailSize{ width: auto; height: 100px; }

/*Social Media*/
.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding-left:0;padding-right:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-facebook{color:#fff;background-color:#3b5998;/*border-color:rgba(0,0,0,0.2)*/}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;/*border-color:rgba(0,0,0,0.2)*/}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;/*border-color:rgba(0,0,0,0.2)*/}
.btn-google-plus{color:#fff;background-color:#dd4b39;/*border-color:rgba(0,0,0,0.2)*/}.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{color:#fff;background-color:#ca3523;/*border-color:rgba(0,0,0,0.2)*/}
.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{background-image:none}
.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active{background-color:#dd4b39;/*border-color:rgba(0,0,0,0.2)*/}
.btn-instagram{color:#fff;background-color:#517fa4;/*border-color:rgba(0,0,0,0.2)*/}.btn-instagram:hover,.btn-instagram:focus,.btn-instagram:active,.btn-instagram.active,.open .dropdown-toggle.btn-instagram{color:#fff;background-color:#446a89;/*border-color:rgba(0,0,0,0.2)*/}
.btn-instagram:active,.btn-instagram.active,.open .dropdown-toggle.btn-instagram{background-image:none}
.btn-instagram.disabled,.btn-instagram[disabled],fieldset[disabled] .btn-instagram,.btn-instagram.disabled:hover,.btn-instagram[disabled]:hover,fieldset[disabled] .btn-instagram:hover,.btn-instagram.disabled:focus,.btn-instagram[disabled]:focus,fieldset[disabled] .btn-instagram:focus,.btn-instagram.disabled:active,.btn-instagram[disabled]:active,fieldset[disabled] .btn-instagram:active,.btn-instagram.disabled.active,.btn-instagram[disabled].active,fieldset[disabled] .btn-instagram.active{background-color:#517fa4;/*border-color:rgba(0,0,0,0.2)*/}.btn-twitter{color:#fff;background-color:#2ba9e1;/*border-color:rgba(0,0,0,0.2)*/}.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{color:#fff;background-color:#1c92c7;/*border-color:rgba(0,0,0,0.2)*/}
.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active{background-color:#2ba9e1;/*border-color:rgba(0,0,0,0.2)*/}
.btn-linkedin{color:#fff;background-color:#007bb6;/*border-color:rgba(0,0,0,0.2)*/}.btn-linkedin:hover,.btn-linkedin:focus,.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{color:#fff;background-color:#30487b;/*border-color:rgba(0,0,0,0.2)*/}
.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{background-image:none}
.btn-tumblr{color:#fff;background-color:#32506d;/*border-color:rgba(0,0,0,0.2)*/}.btn-tumblr:hover,.btn-tumblr:focus,.btn-tumblr:active,.btn-tumblr.active,.open .dropdown-toggle.btn-tumblr{color:#fff;background-color:#30487b;/*border-color:rgba(0,0,0,0.2)*/}
.btn-tumblr:active,.btn-tumblr.active,.open .dropdown-toggle.btn-tumblr{background-image:none}
.btn-reddit{color:#fff;background-color:#5f99cf;/*border-color:rgba(0,0,0,0.2)*/}.btn-reddit:hover,.btn-reddit:focus,.btn-reddit:active,.btn-reddit.active,.open .dropdown-toggle.btn-reddit{color:#fff;background-color:#30487b;/*border-color:rgba(0,0,0,0.2)*/}
.btn-reddit:active,.btn-reddit.active,.open .dropdown-toggle.btn-reddit{background-image:none}
.btn-code,.btn-code:hover{color: #ffffff;background-color: #5da4ec;border-color: #5da4ec;}
.tools-dropdown-toggle{ 
    left: 14px !important;
    z-index: 9 !important; }
/*.tools-dropdown-toggle{
    left: 16px !important;
    z-index: 10 !important;
}*/

@media (max-width: 991px) {
.flex {
    display: inline-flex;
    width: 100%;
}
.sideBlock { padding-left: 15px !important; padding-right: 15px !important; }
.blockBottom { margin-bottom:20px;}
.notoppaddingSm { padding-top:0 !important; }
.rightPaddingSMb { padding-right: 5px}
.leftPaddingSMb {padding-left: 5px;}
.rightPaddingSm { padding-right: 15px; }
.norightPaddingSm {	padding-right:0;}
.redButton { padding-left:10px; }
.topPaddingSm {	padding-top:5px; }
.userPanel.active { padding-top: 50px !important; }
.navbar-brand {
 padding: 10px 0px;
}
.adImage{ 
/*    height: 130px;
    width: 120px !important;*/
    height: 150px;
    width: 240px !important;
    max-width: 100%;
    float: left;
    /*width: 45%;*/
    /* border: 1px solid black; */
    text-align: center;
    margin-right: 15px;
}
.noPaddingXs { padding:0; }
.bannerJumbutron { margin-top:70px; margin-bottom:20px;}
}
.textJustify {
  text-align: justify;
}

@media (max-width: 768px) {

#ad-replies-container {
  padding: 10px !important;
}
#post-comment-pane {
  padding: 10px !important;
}
.replyBlock {
    margin-left: 0 !important;
}
.replyBlock .commentBlock {
    padding-left: 20px !important;
}
 .adImage{ 
/*    height: 130px;
    width: 120px !important;*/
    height: 150px;
    width: 150px !important;
    /*width: 100% !important;*/
    float: left;
    /*width: 45%;*/
    /* border: 1px solid black; */
    text-align: center;
    margin-right: 15px;
}
.topPaddingxs { padding-top: 10px; }
.leftPadding { padding-left: 15px;}
/*.rightPadding { padding-right: 15px;}*/
.noPaddingXs { padding:0; }
.rightPaddingXs { padding-right: 15px; }
.rightPaddingSMb{padding-right: 15px;}
.leftPaddingSMb{padding-left: 15px;}
.adsMargin {
    margin-bottom: 3px;
    margin-top: 1px;
}

.sidePaddingXs {
  padding-left: 15px !important;
  padding-right: 15px !important;
}


.responsiveImgXS { height: 100%; }
.leftPaddingMinSM { padding-left: 5px; }
}
@media (max-width: 480px) {
/*.panel-heading{
  padding-top: 1px;
}*/
.left{
  float: none;
}
}

.tr-disabled {
    background-color: #cccccc !important;
}

.fstElement { font-size: 1.2em; }
.fstToggleBtn { min-width: 16.5em; }
.submitBtn { display: none; }
.fstMultipleMode { display: block; }
.fstMultipleMode .fstControls { width: 100%; }

/* Latest Reviews CSS START */
/*.latest-reviews{display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
@media screen and (min-width: 769px) and (max-width: 991px) { .latest-reviews{max-width: 225px;} }
@media screen and (min-width: 992px) and (max-width: 1199px) { .latest-reviews{max-width: 95px;} }
@media screen and (min-width: 1200px) { .latest-reviews{max-width: 155px;} }*/
/* Latest Reviews CSS END */
.select2-container-multi .select2-choices {
  /*border: none !important;*/
  border-width:0px !important;
  border-color: #ccc !important;
  border-radius: 0 !important;
}
.select2-drop-active {
    border: 1px solid #ccc !important;
    border-top: none;
    border-radius: 0 !important;
}
.discount-label{
  font-size:19px !important;
  font-weight: bold;
}