div#loginULxs .panel-heading:hover,
div#navULxs .panel-heading:hover{
  background-color: #ffffff;
  color: #333333;
}
div#navULxs {
    z-index: 1;
    list-style-type: none;
    margin: 0;
    height: 100%;
    left: -200px;
    padding: 0;
    width: 200px;
    background-color: #82C5F6;
    position: absolute;
    -webkit-transition: all .5s;
    transition: all .5s;
}
div#navULxs.active {
    left: 0;
    width: 200px;
    position: absolute;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.vertical-divider{
    border-right: 1px solid #ddd;
    height: 30px;
    margin-top: 10px;
}
#loginULxs a:focus, 
#loginULxs a:hover,
#loginULxs .panel-heading,
#loginULxs .panel-default,
#loginULxs .panel-body,
#navULxs a:focus, 
#navULxs a:hover,
#navULxs .panel-heading,
#navULxs .panel-default,
#navULxs .panel-body{
  text-decoration: none;
  background-color: transparent;
  border: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0);
}
#navULxs .panel-body {
    background-color: #67BBF9;
    display: block;
    padding-left: 20px;
}
#loginULxs .panel-heading a,
#navULxs .panel-heading a{
  display: block;
}
div#loginULxs {
    z-index: 1;
    list-style-type: none;
    margin: 0;
    height: 100%;
    left: -200px;
    padding: 0;
    width: 200px;
    background-color: #82C5F6;
    position: absolute;
    -webkit-transition: all .5s;
    transition: all .5s;
}
div#loginULxs.active {
    left: 0;
    width: 200px;
    position: absolute;
    -webkit-transition: all .5s;
    transition: all .5s;
}