 .loading-pane .fa{
    color: #000 !important;
}
.loading-pane {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1039;
    background-color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    text-align: center;
}

.loading-pane > div {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 64px;
    width: 64px;
}

.modal .loading-pane {
    z-index: 5000;
}


.th-color{
    background-color: #7EACDB !important;
}
.th-sub-cat{

    margin-left:100px;
}
.tr-sub-cat{
    padding-bottom: 100px !important;
}
.th-color-cat{

    background-color: #30679E !important;
}