/*.blue{
  color: #5da4ec;
}
.red{
  color: #ff6d6d;
  opacity: 1;
}
.black{
  color: #666666;
}
.inputLabel{
  font-size: 12px;
  color: #666666;
}
.main-title{
  font-weight: bold;
  font-size: 14px;
  color: #5da4ec;
  text-transform: uppercase;
}
.titleInformation:hover,
.titleInformation{
  text-decoration: none;
  font-size: 12px;
  color: #ff6d6d;
  text-transform: uppercase;
}
.titleBorder{
  border-bottom: 2px solid #9fcfff;
}
.modalFooter {
    padding: 0px 15px 15px 15px;
}
.modalFooterReg {
    padding: 15px 15px 15px 15px;
}
.modalFooterBorder{
  border-top: 1px solid #b3b3b3;
}
.socialMediaContent{
  border-top: 1px solid #b3b3b3;
  padding: 15px;
  border-bottom: 1px solid #b3b3b3;
}
.submit:hover,
.submit{
  color: #ffffff;
  background-color: #5da4ec;
}
.btn-facebook:hover,
.btn-facebook{
  background-color: #276db3;
  color: #ffffff;
}
.btn-twitter:hover,
.btn-twitter{
  background-color: #5da4ec;
  color: #ffffff;
}
.btn-google:hover,
.btn-google{
  background-color: #ff6a6a;
  color: #ffffff;
}
.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}*/