/* HeaderMenu */
.header{
    margin-bottom: 20px;
    padding: 5px;
    background-color: #ffffff;
/*	  border: 1px;*/ 
	  border-bottom: 1px solid #e7e7e7;
/*    box-shadow: 2px 2px 3px rgba(0,0,0,.1);*/
}
/* Navbar */ 
.search-nav{
		padding-top: 8px;
}
.navbar-nav>li>a {
    line-height: 15px !important;
}
a {
    color: #333333;
    text-decoration: none;
}
.divider-vertical {
    height: 25px;
    margin-top: 10px;
    border-left: 2px solid #f2f2f2;
}
.languageSelection{
    margin-top: 5px;
    border: 0;
    -moz-box-shadow: inset 0 0 0 0;
    box-shadow: inset 0 0 0 0;
}
@media screen and (max-width: 768px) {
/* header */
.header .btn:focus{
  outline: 0;
  color: #f00;
}
/* sidebar */
/* Icon when the collapsible content is shown */
  .bt:after {
    font-family: FontAwesome; 
    content:"\f107";
    float: right;
    margin-left: 15px;
  }
  /* Icon when the collapsible content is hidden */
  .bt.collapsed:after {
    content:"\f105";
  }
#sidebar-wrapper .panel,
#sidebar-wrapper .panel-default .panel-heading {
    color: #7DABDA;
    background-color: transparent !important;
    border: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
    box-shadow: 0 1px 1px rgba(0,0,0,0);
}
#sidebar-wrapper .panel-body{
  color: #ffffff;
  background-color: #7DABDA !important;
}
#sidebar-wrapper .panel-heading:hover .panel-body{
  background-color: #7DABDA !important;
  color: #7DABDA;
}
#sidebar-wrapper a,
#sidebar-wrapper a:hover{
  display: block;
  text-decoration: none;
}
a:focus, a:hover .panel-heading{
    color: #333333;
    text-decoration: none;
}
.sidebar-wrapper{
  top: 45px;
  width: 215px;
  height: 100%;
  position: fixed;
  z-index: 1000;
  background: #ffffff;
  left: -215px;
  padding-bottom: 50px;
  -webkit-transition: left .5s; /* Safari */
  transition: left .5s;
}
.sidebar-wrapper.active{
  left: 0px;
  overflow-y: auto;
  padding-bottom: 50px;
  -webkit-transition: left .5s; /* Safari */
  transition: left .5s;
}
.panel-titleHead{
  color: #7DABDA;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: inherit;
}
.list{
  list-style-type: none;
  padding-left: 10px;
  margin-bottom: 10px;
}
.list li{
  margin-top: 10px;
  margin-bottom: 10px;
}
.listingImg{
  background-position: center;
  height: 110px; 
  width: 40%; 
  padding-left: 0; 
  padding-right: 5px;
}
/* sidebar */
.languageSelection{
  margin-top: 0px;
}
.adsTwo{
  padding-left: 0px;
  padding-right: 5px;
}
.adsThree{
  padding-left: 5px;
  padding-right: 0px;
}
#logo{
  height: 30px;
}
.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}
#listingbids img{
  height: 25%;
  width: 30%;
}
#listingbuyandsell img{
  height: 25%;
  width: 30%;
}
#listingpanel{
  margin-bottom: 15px;
}
footer p{
  font-size: 12px;
}
.center{
  padding: 0px;
}
.paddingZero{
  padding: 0 0 10px 0 !important;
}
.paddingSideZero{
  padding-left: 0px;
  padding-right: 0px;
}
.pad-top{
  padding: 0 0 10px 0;
}
.btn-yak:hover,
.btn-yak:focus,
.btn-yak{
  background-color: #f8f8f8;
  border-radius: 3px;
  border: 0;
  color: #7FAEDD;
}
.btn-facebook{
  margin-left: 5px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-xs{
  padding: 0px 5px;
  font-size: 12px;
  line-height: 1.5;
}
}
@media screen and (min-width: 768px) {
.adsTwo{
  padding-left: 0px;
  padding-right: 5px;
}
.adsThree{
  padding-left: 5px;
  padding-right: 0px;
}
}
@media screen and (min-width: 992px) {
.adsTwo{
  padding-left: 5px;
  padding-right: 0px;
}
.adsThree{
  padding-left: 5px;
  padding-right: 0px;
}
}

