.navRight{
  padding-top: 8px;
  float: right !important;
}
nav#myNavbar {
  background-color: #ffffff;
  border-bottom: 2px solid #dddddd;
}
.borderzero{
  border-radius: 0;
}
.loginPad{
  margin-bottom: 50px;
  width: 100%;
  height: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.loginPad.active{
  margin-bottom: 0px;
  width: 100%;
  height: 50px;
  margin-top: 100px;
  background-color: #f3f3f3;
  -webkit-transition: all .2s;
  transition: all .5s;
}

.loginpad-logout{
  padding-top: 100px;
}
ul#loginUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #transparent;
}

#loginUL li {
    float: left;
}

#loginUL li a {
    display: block;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#loginUL li a:hover {
    background-color: #ddd;
}
ul#navUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #transparent;
}
#navUL li {
    float: left;
}

#navUL li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
div#loginULxs .panel-heading:hover,
div#navULxs .panel-heading:hover{
  background-color: #ffffff;
  color: #333333;
}
div#navULxs {
    z-index: 1;
    list-style-type: none;
    margin: 0;
    height: 100%;
    left: -200px;
    padding: 0;
    width: 200px;
    background-color: #82C5F6;
    position: absolute;
    -webkit-transition: all .5s;
    transition: all .5s;
}
div#navULxs.active {
    left: 0;
    width: 200px;
    position: absolute;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.vertical-divider{
    border-right: 1px solid #ddd;
    height: 30px;
    margin-top: 10px;
}
#loginULxs a:focus, 
#loginULxs a:hover,
#loginULxs .panel-heading,
#loginULxs .panel-default,
#loginULxs .panel-body,
#navULxs a:focus, 
#navULxs a:hover,
#navULxs .panel-heading,
#navULxs .panel-default,
#navULxs .panel-body{
  text-decoration: none;
  background-color: transparent;
  border: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0);
}
#navULxs .panel-body {
    background-color: #67BBF9;
    display: block;
    padding-left: 20px;
}
#loginULxs .panel-heading a,
#navULxs .panel-heading a{
  display: block;
}
div#loginULxs {
    z-index: 1;
    list-style-type: none;
    margin: 0;
    height: 100%;
    left: -200px;
    padding: 0;
    width: 200px;
    background-color: #82C5F6;
    position: absolute;
    -webkit-transition: all .5s;
    transition: all .5s;
}
div#loginULxs.active {
    left: 0;
    width: 200px;
    position: absolute;
    -webkit-transition: all .5s;
    transition: all .5s;
}
/* Change the link color to #111 (black) on hover */
#navUL li a:hover {
    background-color: #ddd;
}
@media screen and (max-width: 650px) {
.hidden650 {
    display: none;
}
.loginPad.active{
    display: none;
}
.navRight{
  float: left !important;
}
}

