/* Global */
.sup-errors{
    top: 1px !important;
}
.navbar-account{
    min-height: 30px;
    background-color: #ff6d6d;
    border: none;
    margin-top: 85px;
    z-index: 16;
    display: table;
    text-align: center;

}
.marginBlock{margin-top: 30px;}
.navbar-account .container{ display: table-cell; vertical-align: middle; padding: 0 15px;}
input#keyword:after {
   padding-right: 25px;
   background-image: url(...);
   background-position: right top;
}
button[disabled] {
    cursor: default !important;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none !important;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: 0px !important;
}
.form-control:focus {
   -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
    outline: none !important;
}
textarea#textArea.form-control:focus{border:none !important;}
.alert.alert-dismissible.alert-danger {
    border-radius: 0;
}
.break
{   content: "A" !important;
    display: block !important;
}
.btn:focus,.form-control, {
  outline: none !important;
}
a:focus, a:hover {
    color: #666666;
  text-decoration: none;
  outline: none !important;
}
.currentBid div:last-child{padding-bottom: 0px !important;}
.currentBid div:last-child p{margin-bottom: 0px !important;}
body { font-family:"Arial" !important; overflow-x: hidden;}
.nav>li>a { padding:10px 10px;}
.nav-stacked>li+li { margin:0;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border:none;}
.container, .container-fluid { padding-left:0; padding-right:0;}
/* Header Styles Last Resort Styles */
input.form-control.inputSearch { float:right}
button.btn.redButton.postAds {	margin-left:5px; }
button.btn.redButton.button-user {	margin-left:5px; }
.navbar-default .navbar-nav>li>a { padding-top:5px; padding-bottom:5px;}
li.borderleftLight { height: 35px; border-left: 1px solid #e6e6e6; }
a.blueText { color:#5da4ec !important;}
.logo { min-width:100px;}
.toggleSize { width: 38px; float: left; padding: 5px;}
/* Jumbutron */
a.listCategory { border-radius:0; color:#666666; }
a.listCategoryAll { border-radius:0; color:#ff6666;}
.nav-pills>li>a { border-radius:0;}

.tronImages{
    background-image: url("/uploads/tronImage.png") no-repeat;
    height: 460px;
    bottom: -80px;
    width: 100%;
}
/* Pagination Last Resort Styles */
.pagination>li:last-child>a, .pagination>li:last-child>span, .pagination>li:first-child>a, .pagination>li:first-child>span { border-radius:0;}


/* Dashboard Styles */
.nav.listDashboard li a { border-radius:0; color:#666666; padding:0px; }

/*Scrollable Modal*/
.fade.in { overflow-y: visible }

/*Jumbottron Carousel*/
.carousel-fade .carousel-inner .item { -webkit-transition-property: opacity; transition-property: opacity; margin: 0 !important; width: 100%;}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right { opacity: 0; margin: 0 !important; width: 100%;}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right { opacity: 1; margin: 0 !important; width: 100%;}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right { margin: 0 !important; left: 0; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); width: 100%; }
.carousel-fade .carousel-control { z-index: 2; }
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item { height: 100%; width: 100%;}
/*.carousel {
    margin-top: 20px;
}*/
.item .thumb { /*    width: 25%;*/ cursor: pointer; float: left; }
.item .thumb img { width: 100%; margin: 2px; }
.item img { width: 100%;     }


@media only screen and (min-width : 1024px) {
    #carouselMain .item {
    height:367px;  line-height:367px; overflow:hidden; text-align:center;  width:100%;
}

#carouselMain .item img {
    height: 367px; margin: -100%; display: initial; max-width: none;  width: initial;
}
#carouselMiniA .item, #carouselMiniB .item  {
    height:178px;  line-height:178px; overflow:hidden; text-align:center;  width:100%;
}

#carouselMiniA .item img, #carouselMiniB .item img {
    height: 178px; margin: -100%; display: initial; max-width: none;  width: initial;
}
}

/*#carouselMain .item {
    height:367px;  line-height:367px; overflow:hidden; text-align:center;  width:100%;
}

#carouselMain .item img {
    height: 367px; margin: -100%; display: initial; max-width: none;  width: initial;
}

#carouselMiniA .item, #carouselMiniB .item  {
    height:178px;  line-height:178px; overflow:hidden; text-align:center;  width:100%;
}

#carouselMiniA .item img, #carouselMiniB .item img {
    height: 178px; margin: -100%; display: initial; max-width: none;  width: initial;
}*/


/*.item:nth-child(1) {
  background: #74C390;
}
.item:nth-child(2) {
  background: #51BCE8;
}
.item:nth-child(3) {
  background: #E46653;
}*/

/*Plan Nav*/
.nav>li>a:focus, .nav>li>a:hover { text-decoration: none; background-color: transparent; !important; }
.plan{ border-bottom: 2px solid #5793d0; margin-bottom: 5px; background-color: #5da4ec; position: fixed; z-index: 1; -webkit-transition: all .5s; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s; transition: all .5s; }
.plan.active{ padding-top: 85px !important; position: fixed; z-index: 16; -webkit-transition: all .5s; transition: all .5s; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s; }
.plan>li>a:focus, .nav>li>a:hover { text-decoration: none;}
/*User Panel Nav*/
.nav>li>a:focus, .nav>li>a:hover { text-decoration: none; background-color: transparent; !important; }
.userPanel{ border-bottom: 2px solid #5793d0; margin-bottom: 5px; background-color: #5da4ec; position: fixed; z-index: 1; -webkit-transition: all .5s; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s; transition: all .5s; }
.userPanel.active{ padding-top: 85px !important; position: fixed; z-index: 16; -webkit-transition: all .5s; transition: all .5s; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s; }
.userPanel>li>a:focus, .nav>li>a:hover { text-decoration: none;}
/*Quick Support Nav*/
.quickSupport{ border-bottom: 2px solid #5793d0; margin-bottom: 5px; background-color: #5da4ec; position: fixed; z-index: 1; -webkit-transition: all .5s; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s; transition: all .5s; }
.quickSupport.active{ padding-top: 85px !important; position: fixed; z-index: 16; -webkit-transition: all .5s; transition: all .5s; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s; }
.quickSupport>li>a:focus, .nav>li>a:hover { text-decoration: none;}
/*Region Nav*/
.availableRegion{top: -205px;border-bottom: 2px solid #5793d0; margin-bottom: 5px; background-color: #5da4ec; position: fixed; z-index: 1; -webkit-transition: all .5s; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s; transition: all .5s; }
.availableRegion.active{top: 85px;position: fixed; z-index: 16; -webkit-transition: all .5s; transition: all .5s; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s; }
.availableRegion>li>a:focus, .nav>li>a:hover { text-decoration: none;}
/*Categories Nav*/
.categoriesNav{ border-bottom: 2px solid #5793d0; margin-bottom: 5px; background-color: #5da4ec; position: fixed; z-index: 1; -webkit-transition: all .5s; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s; transition: all .5s; }
.categoriesNav.active{ padding-top: 85px !important; position: fixed; z-index: 16; -webkit-transition: all .5s; transition: all .5s; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s; }
.categoriesNav>li>a:focus, .nav>li>a:hover , .nav>li>a:focus{ text-decoration: none; color: #f3f3f3;}
#dashboardTab li a:focus, #dashboardTab li a:hover { text-decoration: none; color: #ffffff !important; background-color: #337ab7;}
#supportTab li a:focus, #dashboardTab li a:hover { text-decoration: none; color: #ffffff !important; background-color: #337ab7;}
/* Jumbotron Sidebar*/
.sidebarTitle{    
    background-color: #1f5c9b;
    padding: 10px;
    /*margin: 0px 0 1px 0px;*/
    /*height: 50px;*/
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid #1a5591;
    border-top: 1px solid #0f4e8d;
}
#flyout_menu ul, li { list-style: none; margin: 0; padding: 0; }
#flyout_menu ul li.active a {
    color: #fff !important;
}
#flyout_menu ul li.hover,
#flyout_menu ul li:hover { position: relative; z-index: 599; }
#flyout_menu ul ul{ visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; }
#flyout_menu ul li:hover > ul { visibility: visible; }
#flyout_menu ul ul { top: 0; left: 100%; width: 100%; }
#flyout_menu span, #flyout_menu a { display: inline-block; font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-decoration: none; }
#flyout_menu li { background: #ffffff; }
#flyout_menu li:hover, #flyout_menu li.active { background: #5DA4EC; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease; transition: all .5s ease; }
#flyout_menu ul li a { /*color: #666666; width: 100%; font-size: 12px; padding: 9px;*/ 
    color: #666666;
    width: 100%;
    font-size: 12px;
    padding: 12px;
    line-height: 1;
    }
#flyout_menu ul li a:hover { color: #ffffff !important; }
#flyout_menu ul li a img{ -webkit-filter: invert(0%); filter: invert(0%); }
#flyout_menu ul li a:hover img{ -webkit-filter: invert(100%); filter: invert(100%); }
#flyout_menu ul li a:active{ color: #ffffff; }
#flyout_menu ul ul li { background: #5DA4EC; }
#flyout_menu ul ul li:hover { background: #6AB4FF; }
#flyout_menu ul ul.sub li a { color: #ffffff; }
#flyout_menu ul ul.sub:hover ~ #flyout_menu ul li a{ color: #ffffff; }

/*Support Tab*/
ul#supportTab.vertical { list-style-type: none; margin: 0; padding: 0; width: 100%; background-color: #ffffff; }
ul#supportTab.vertical li a { display: block; color: #666666; padding: 8px 0 8px 16px; text-decoration: none; }
ul#supportTab.vertical li a:focus { color: #ffffff; }
ul#supportTab li.active { background-color: #5DA4EC; }
ul#supportTab li.active a { color: #fff !important; }
#supportTab a:hover{ color: #fff !important; background: #5DA4EC; }
div#mobilesidebarAccount li:nth-child(n+2) { border-bottom: 1px solid #1f5c9b}
div#mobilesidebarAccount li:nth-child(n+2){
    background-color: #2f69a5;
}
div#mobilesidebarAccount li:nth-child(n+11){
    background-color: #3172b4;
}
div#mobilesidebarAccount li a{
    display: block;
    padding: 15px;
    text-decoration: none;
}
.myAccordion li{
    border-bottom: 1px solid #1f5c9b;
}
.myAccordion li div{
    font-size: 12px;
    color: #ffffff;
    display: block;
    padding: 15px;
    text-decoration: none;
    background-color: #3172b4;
}
.myAccordion li div:hover{
    color: #18497b !important;
    /* background-color: #5da4ec; */
    text-decoration: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    outline: 0;
}
.myAccordion li ul{
    padding-left: 0px;
    border-bottom: none;
}
.myAccordion li ul li{
    border-top: 1px solid #1f5c9b;
    border-bottom: none !important;
}
.myAccordion li ul li a{
    font-size: 12px;
    padding-left: 35px !important;
    color: #ffffff;
    background-color: #2f69a5  !important;
}
div#mobilesidebarAccount li a .badge{
    background-color: #1f5c9b;
}
div#mobilesidebarAccount {
    background-color: #3172b4;
    position: fixed !important;
    height: 100%;
    z-index: 20;
    width: 300px;
    top: 52px;
    left: -300px;
    -webkit-transition: left .5s; /* Safari */
    transition: left .5s;
}
div#mobilesidebarAccount.active {
    left: 0;
    -webkit-transition: left .5s; /* Safari */
    transition: left .5s;
    overflow-y: auto;
}
/*div#mobilesidebarAccount li a{
		display: block;
		padding: 10px;
    text-decoration: none;
    background-color: #3f86ce;
    border-bottom: 1px solid #3172B4;
}*/
div#mobilesidebarAccount .accordionBg:hover,
div#mobilesidebarAccount .accordionBg:focus,
div#mobilesidebarAccount li a:hover,
div#mobilesidebarAccount li a:focus{
		color: #18497b !important;
/*		background-color: #5da4ec;*/
		text-decoration: none;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease; 
    outline: 0;
}
div#mobilesidebarAccount li a:hover ~ div#mobilesidebarAccount li{
		background-color: #E6E6E6;

}
div#mobilesidebarCategory {
    background-color: #5DA4EC;
    position: fixed;
    height: 100%;
    z-index: 1;
    width: 200px;
    top: 0;
    left: -200px;
    -webkit-transition: left .5s; /* Safari */
    transition: left .5s;
}
div#mobilesidebarCategory.active {
    left: 0;
    -webkit-transition: left .5s; /* Safari */
    transition: left .5s;
}
div#mobilesidebarCategory .panel-default,
div#mobilesidebarCategory .panel {
	 background-color: transparent;
	 border: 0;
	 -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}
div#mobilesidebarCategory .panel-default a,
div#mobilesidebarCategory .panel a{
	 text-decoration: none;
	 color: #ffffff;
	 display: block;
    padding: 10px;
    margin-bottom: 0 !important;
}
div#mobilesidebarCategory .panel h4:hover{
	background-color: #e6e6e6;
}
.sortDropdown{
    margin-left: -60px !important;
    text-transform:none !important;
    font-size:12px !important;
    margin-top: 3px;
    margin-bottom: 0 !important;
}
.panelBody{
	background-color: #e6e6e6;
}
/*Profile*/
.profileImage {
    width:30px;
    margin-right:5px;
    float:left;
}
.profileImage img {
    width:100%;
}
.profileText .panelTitle,
.profileText .panelTitleB {
    margin-left: 95px;
}
.profileText #rate {
    margin-left: -140px;
}
.profileText div {
    margin-left: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
#change-photo-notice ul{
    padding: 1px;
    font-weight: normal;
    font-size: 12px;
}
#change-photo-notice div {
    padding: 5px 35px 5px 5px;
    margin-bottom: 1px;
    background-color: white;
    border-color: white;
}
#register-notice ul{
    padding: 1px;
    font-weight: normal;
    font-size: 12px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #ffffff;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #ffffff;
    /* border-color: #666666 !important; */
}
.sortDrop{    
    box-shadow: none;
    margin-top: 10px;
    width: 200px;
    left: -125px;
    border-radius: 0 !important;
    padding: 0 !important;
    width: 200px !important;
}
.tools-dropdown .dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:9px;
    width:150px;
}
.tools-dropdown .dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #ffffff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 16px !important;
    right: 120px !important;
    z-index: 10;
}
.tools-dropdown .dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    left: 14px !important;
    right: 118px !important;
    z-index: 9;
}

.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:9px;
    width:300px;
}
.navbar-nav .dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #ffffff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.navbar-nav .dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}
.notiDropdown{
    left: -251px;
    border-radius: 0 !important;
    padding: 0 !important;
}
/*.notiUL{padding: 0;width: 300px; position: absolute; left: -245px;}*/
/*.notiUL a{display: block}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 8px solid #f5f5f5;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-color: transparent transparent transparent #a00;
    border-width: 11px;
    position: absolute;
    top: -7px;
    right: 14px;
    z-index: 10;
}*/
.chatArea{
/*    text-align: right;*/
    position: fixed;
    bottom: -378px;
    right: 0;
    left: 40%;
    z-index: 15;
    margin-bottom: 0;
}
#myTable thead {background-color: transparent;}
#myTable thead tr{border-bottom: 2px solid #e6e6e6;}
#myTable thead tr th { padding: 15px 0px !important; border: none !important; font-weight: normal; font-size: 14px; color: #666666; white-space: nowrap;}
#myTable thead tr th:last-child {text-align: right;}
#myTable tbody tr:first-child td {border: none !important;}
/*#myTable tbody tr:hover {background-color: #fafafa;}*/
#myTable tbody tr td { padding: 15px 0px !important; font-size: 14px; color: #666666; border-color: #f3f3f3 !important;}
#myTable tbody tr:last-child { border-bottom:1px solid #f3f3f3 !important;}
#myTable tbody tr td{ cursor:auto;font-size: 14px; color: #999999; }
#myTable tbody tr td:last-child { text-align: right;}

#invoiceTable thead {background-color: transparent;}
#invoiceTable thead tr{border-bottom: 2px solid #e6e6e6;}
#invoiceTable thead tr th { padding: 0px 0px 15px 0px !important; border: none !important; font-weight: normal; font-size: 14px; color: #666666; white-space: nowrap;}
#invoiceTable thead tr th:last-child {text-align: right;}
#invoiceTable tbody tr:first-child td {border: none !important;}
#invoiceTable tbody tr:hover {background-color: #fafafa;}
#invoiceTable tbody tr td { padding: 15px 0px !important; font-size: 14px; color: #666666; border-color: #f3f3f3 !important;}
#invoiceTable tbody tr:last-child { border-bottom:1px solid #f3f3f3 !important;}
#invoiceTable tbody tr td{ font-size: 14px; color: #999999; }
#invoiceTable tbody tr td:last-child { text-align: right;}
/*#myTable thead {background-color: #f3f3f3;}
#myTable thead tr th { padding: 15px !important; border: none !important; font-weight: normal; font-size: 14px; color: #666666; white-space: nowrap;}
#myTable thead tr th:last-child {text-align: right;}
#myTable tbody tr:first-child td {border: none !important;}
#myTable tbody tr:hover {background-color: #f3f3f3;}
#myTable tbody tr td { padding: 15px !important; font-size: 14px; color: #666666; border-color: #f3f3f3 !important;}
#myTable tbody tr:last-child { border-bottom:1px solid #f3f3f3 !important;}
#myTable tbody tr td:nth-child(n+2) { font-size: 12px; color: #999999; }
#myTable tbody tr td:last-child { text-align: right;}*/
/*.messageBody{ padding: 15px 0 15px 0 !important;}*/
#myTableMessage thead {background-color: transparent;}
#myTableMessage thead tr{border-bottom: 2px solid #e6e6e6;}
#myTableMessage thead tr th { padding: 15px 0px !important; border: none !important; font-weight: normal; font-size: 14px; color: #666666; white-space: nowrap;}
#myTableMessage thead tr th:last-child {text-align: right;}
#myTableMessage tbody tr:first-child td {border: none !important;}
#myTableMessage tbody tr:hover {background-color: #fafafa;}
#myTableMessage tbody tr td { padding: 15px 0px !important; font-size: 14px; color: #666666; border-color: #f3f3f3 !important;}
#myTableMessage tbody tr:last-child { border-bottom:1px solid #f3f3f3 !important;}
#myTableMessage tbody tr td{ cursor:pointer;font-size: 12px; color: #999999; }
#myTableMessage tbody tr td:last-child { text-align: right;}
#myTableCommentsReview {border: none !important;}
#myTableCommentsReview thead {background-color: transparent ; border: none;}
#myTableCommentsReview thead tr th {0padding: 15px !important;white-space: nowrap;color: #5da4ec;font-size: 14px;font-weight: bold;text-transform: uppercase;}
#myTableCommentsReview tbody tr:first-child td {border: none !important;}
#myTableCommentsReview tbody tr td { padding: 15px; font-size: 14px; color: #666666; border-color: #f3f3f3 !important;}
#myTableCommentsReview tbody tr:last-child { border-bottom:1px solid #f3f3f3 !important;}
#myTableCommentsReview tbody tr td{ cursor:pointer;font-size: 12px; color: #999999; }
#myTableCommentsReview tbody:nth-child(even) {background-color: #ffffff;}
#myTableCommentsReview tbody:nth-child(odd) {background-color: #f3f3f3;}
#myTableCommentsReview tbody:last-child {border-bottom: 0px solid #f3f3f3 !important;}
#myTableCommentsReview tbody+tbody {border-top: none !important;}
#myTableAlerts thead {background-color: #f3f3f3;}
#myTableAlerts thead tr{border-bottom: 2px solid #e6e6e6;}
#myTableAlerts thead tr th { padding: 15px !important; border: none !important; font-weight: normal; font-size: 14px; color: #666666; white-space: nowrap;}
#myTableAlerts thead tr th:last-child {text-align: right;}
#myTableAlerts tbody tr:first-child td {border: none !important;}
#myTableAlerts tbody tr:hover {background-color: #fafafa;}
#myTableAlerts tbody tr td { padding: 15px !important; font-size: 14px; color: #666666; border-color: #f3f3f3 !important;}
#myTableAlerts tbody tr:last-child { border-bottom:1px solid #f3f3f3 !important;}
#myTableAlerts tbody tr td{ cursor:pointer;font-size: 12px; color: #999999; }
#myTableAlerts tbody tr td span a{ cursor:pointer;font-size: 12px; color: #999999; }
#myTableAlerts tbody tr td:last-child { text-align: right;}
#myTableAlerts thead {background-color: #ffffff;text-transform: uppercase;}
#myTableAlerts thead tr {border-bottom: 2px solid #5da4ec;}
#myTableAlerts thead tr th {padding: 15px !important;border: none !important;font-weight: bold;font-size: 14px;color: #5da4ec;white-space: nowrap;}
#myTableBidding thead tr th:last-child {text-align: right;}
#myTableBidding tbody tr:hover {background-color: #fafafa;}
#myTableBidding tbody tr td { padding: 15px !important; font-size: 14px; color: #666666; border-color: #f3f3f3 !important;}
#myTableBidding tbody tr:last-child { border-bottom:1px solid #f3f3f3 !important;}
#myTableBidding tbody tr td{ cursor: pointer;font-size: 12px;/* color: #999999; */border: none !important;color: #999999 !important;font-weight: normal;}
#myTableBidding tbody tr td:last-child { text-align: right;}
#myTableAdvertising thead {background-color: #f3f3f3;}
#myTableAdvertising thead tr th { padding: 15px !important; border: none !important; font-weight: normal; font-size: 14px; color: #666666; white-space: nowrap;}
#myTableAdvertising tbody tr:first-child td {border: none !important;}
#myTableAdvertising tbody tr:hover {background-color: #f3f3f3;}
#myTableAdvertising tbody tr td { padding: 15px !important; color: #999999; border-color: #f3f3f3 !important;}
#myTableAdvertising tbody tr:last-child { border-bottom:1px solid #f3f3f3 !important;}
#myTableReports thead {background-color: #f3f3f3;}
#myTableReports thead tr th { padding: 15px !important; border: none !important; font-weight: normal; font-size: 14px; color: #666666; white-space: nowrap;}
#myTableReports thead tr th:last-child {text-align: right;}
#myTableReports tbody tr:first-child td {border: none !important;}
#myTableReports tbody tr td { padding: 15px !important; color: #666666; border-color: #f3f3f3 !important;}
#myTableReports tbody tr:last-child { border-bottom:1px solid #f3f3f3 !important;}
#myTableReports tbody tr td{ font-size: 12px; color: #999999; }
#myTableReports tbody tr td:last-child { text-align: right;}
#custom-attributes-pane .form-group:last-child{margin-bottom: 0px;}
/*.dropdown-menu {
    left: -202px !important;
    min-width: 250px !important;
    padding: 10px !important;
}*/
/*Advertisement Float Left*/
/*.adImage {
    width:30px;
    margin-right:5px;
    float:left;
}
.adImage img {
    width:100%;
}
.adText .panelTitle,
.adText .panelTitleB {
    margin-left: 140px;
}
.adText #adRate {
    margin-left: -145px;
}
.adText #adnoRate {
    margin-left: 105px;
}*/
/*Featured Ads*/
/*.adDescription{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 45px;
     -webkit-transition: all .5s; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s; transition: all .5s; 
}
.adDescription.open{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
}*/
#bottom div div:last-child{    padding: 10px 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;}
.split-list ul{
  float: left;
  margin-left: 0 !important;
  padding-left: 0 !important;
}
.split-list div{
  padding-left: 0 !important;
}
.split-list div li{
  line-height: 2;
 }
.adContent {
   height: 90%;
}
.adFooter {
   bottom: 0;
   height: 10%;
   position: absolute;
   width: 100%;
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
.listAdd{
    position: absolute;
    bottom: -50px;
    width: 100%;
}
.label-featured{
    background-color: #ff9933;
    font-size: 14px;
    border-radius: 0;
    position: absolute;
    margin: 5px 0 0 5px;
}
/*#sort-grid-container .box{height: 283px;}*/
.bottomContent{    display: table-cell;
    vertical-align: bottom;
    /* border: 1px solid #f00; */
    height: 54px}
.adcaptionMargin { margin-left: 120px; }
.adText div {
    margin-left: 140px;
}
/*Comment*/
.notificationArea{
    max-height: 355px;
    overflow: auto;
}
.notificationImage {
    width: 30px;
    margin-right: 13px;
    float: left;
/*    height: 49px;*/
}
.notificationText {
    line-height: 1.4;
    min-height: 50px;
    padding-left: 45px;
    text-align: justify;
    padding-bottom: 5px;
    padding-top: 5px;
}
.notificationText span, .notificationText span a {color: #666666 !important;}
.notificationText div span{color: #cccccc !important;}
.alertText {
    line-height: 1.4;
    min-height: 50px;
    text-align: justify;
    padding-bottom: 5px;
    padding-top: 5px;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    float:left;
}
.commenterImage img {
    width:100%;
}
/*.commentText .panelTitle,
.commentText .panelTitleB {
    margin-left: 45px;
}
.commentText p {
    margin-left: 45px;
}
.replyBlock {
    margin-left: 45px;
}
.subText {
    margin-left: 45px;
}*/
.sidebarProfile .panelTitle,
.sidebarProfile .panelTitleB {
    margin-left: 45px;
}
.sidebarProfile p {
    margin-left: 45px;
}
.sidebarProfileblock {
    margin-left: 45px;
}
.sidebarProfiletext {
    margin-left: 45px;
}
.chart {
    text-align: -webkit-center;
    padding-bottom: 20px;
    width: 100%; 
    min-height: 450px;
}
.statisticcommentText .panelTitle,
.statisticcommentText .panelTitleB {
    margin-left: 45px;
}
.statisticcommentText p {
    margin-left: 50px;
}
.statisticreplyBlock {
    margin-left: 45px;
}
.statisticsubText {
    margin-left: 45px;
}
.commentText .panelTitle,
.commentText .panelTitleB {
    margin-left: 60px;
}
.commentText p {
    margin-left: 60px;
    word-break: break-all;
}
.replyBlock {
    margin-left: 60px;
}
.subText {
    margin-left: 60px;
    /*margin-left: 25px;*/
}
.subTextB {
    margin-left: 28px;
}
.pagination{display: block !important;}
.hidden {
    display: none;
    -webkit-transition: display .5s; /* Safari */
    transition: display .5s;
}
button.btn.btn-default.fileinput-remove.fileinput-remove-button {
    display: none;
}
.btn.btn-primary.btn-file {
    background-color: #5da4ec;
    border-color: #5da4ec;
}
/*Modal*/
form#modal-save_photo,
form#modal-save_form {
    margin: 0;
}
div#modal-register,
div#modal-login {
    padding: 0 !important;
}
/*Modal Upload*/
.change{
    line-height: 1px;
}
.form-control.file-caption.kv-fileinput-caption {
    border-radius: 0;
}
.btn.btn-primary.btn-file {
    border-radius: 0;
}
.file-preview {
    border-radius: 0 !important;
}
#panel-profile .file-preview {
    display: none;
}
#panel-profile i.glyphicon.glyphicon-folder-open {
    display: none;
}
#panel-profile .btn.btn-primary.btn-file {
    background-color: #5da4ec;
    border-color: #5da4ec;
}
div#mobileSearchpad {
    position: absolute;
    margin-top: -40px;
    -webkit-transition: margin-top .2s; /* Safari */
    transition: margin-top .2s;
}
div#mobileSearchpad.active {
    margin-top: 5px;
    -webkit-transition: margin-top .2s; /* Safari */
    transition: margin-top .2s;
}
span#rateYo {
    padding-top: 6px;
}
span#rate {
    position: absolute;
    padding-top: 3px;
}
.noComments{
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.scrollbar
{
/*    margin-left: 30px;*/
    float: left;
    max-height: 400px;
/*    background: #F5F5F5;*/
    overflow-y: scroll;
/*    margin-bottom: 25px;*/
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 0px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 0px;
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: #5da4ec;
}
#wrapper{
    width: 100%;
    position: relative;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
}
#wrapper.active{
    pointer-events: none !important;
    /*left: 200px;*/
/*    z-index: 10;*/
    /*opacity: .3;*/
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
}
#page-content{
    width: 100%;
    position: relative;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
}
#page-content.active{
    /*pointer-events: none !important;*/
    left: 200px;
/*    z-index: 10;*/
    opacity: .3;
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
}
.navbar-fixed-top{
    width: 100%;
    left: 0px;
}
.navbar-fixed-top.active{
    /*left: 200px;*/
    left: 0;
}
ul.horizontal-slide {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

ul.horizontal-slide li[class*="col"] {
    display: inline-block;
    float: none;
}

ul.horizontal-slide li[class*="col"]:first-child {
    margin-left: 0;
}
iframe{
    width: 100%;
}
div#modal-pop_up_message {
}

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body
{
    font-family: 'Open Sans', sans-serif;
    }
.popup-box {
   background-color: #ffffff;
    border: 0;
    bottom: 0;
    display: none;
    height: 320px;
    position: fixed;
    right: 70px;
    width: 300px;
    font-family: 'Open Sans', sans-serif;
}
.round.hollow {
    margin: 40px 0 0;
}
.round.hollow a {
    border: 2px solid #ff6701;
    border-radius: 35px;
    color: red;
    color: #ff6701;
    font-size: 23px;
    padding: 10px 21px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.round.hollow a:hover {
    border: 2px solid #000;
    border-radius: 35px;
    color: red;
    color: #000;
    font-size: 23px;
    padding: 10px 21px;
    text-decoration: none;
}
.popup-box-on {
    display: block !important;
}
.popup-box .popup-head {
    background-color: #FF6D6D;
    clear: both;
    color: #ffffff;
    display: inline-table;
    padding: 7px 10px;
    width: 100%;
}
.bg_none i {
    border: 1px solid #ff6701;
    border-radius: 25px;
    color: #ff6701;
    font-size: 17px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.bg_none:hover i {
    border: 1px solid #000;
    border-radius: 25px;
    color: #000;
    font-size: 17px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.bg_none {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.popup-box .popup-head .popup-head-right {
    margin: 0;
}
.popup-box .popup-messages {
}
.popup-head-left img {
    border: 1px solid #7b7b7b;
    border-radius: 50%;
    width: 44px;
}
.popup-messages-footer > textarea {
    border-bottom: 1px solid #b2b2b2 !important;
    margin: 7px;
    padding: 5px !important;
     border: medium none;
    width: 95% !important;
}
.popup-messages-footer {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
/*    position: absolute;*/
    width: 100%;
}
/*.popup-messages-footer .btn-footer {
    overflow: hidden;
    padding: 2px 5px 10px 6px;
    width: 100%;
}*/
.simple_round {
    background: #d1d1d1 none repeat scroll 0 0;
    border-radius: 50%;
    color: #4b4b4b !important;
    height: 21px;
    padding: 0 0 0 1px;
    width: 21px;
}




div#qnimate {
    z-index: 15;
}
.popup-box .popup-messages {
    background: #3f9684 none repeat scroll 0 0;
    height: 275px;
    overflow: auto;
    z-index: 
}
.direct-chat-messages {
    overflow: auto;
    padding: 10px;
    transform: translate(0px, 0px);
    
}
.popup-messages .chat-box-single-line {
    border-bottom: 1px solid #a4c6b5;
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
}
.popup-messages abbr.timestamp {
    background: #3f9684 none repeat scroll 0 0;
    color: #fff;
    padding: 0 11px;
}

.popup-head-right .btn-group {
    display: inline-flex;
    margin: 0 8px 0 0;
    vertical-align: top !important;
}
.chat-header-button {
    background: transparent none repeat scroll 0 0;
    border: 0;
    border-radius: 50%;
    font-size: 14px;
}
.popup-head-right .btn-group .dropdown-menu {
    border: medium none;
    min-width: 122px;
    padding: 0;
}
.popup-head-right .btn-group .dropdown-menu li a {
    font-size: 12px;
    padding: 3px 10px;
    color: #303030;
}

.popup-messages abbr.timestamp {
    background: #3f9684  none repeat scroll 0 0;
    color: #fff;
    padding: 0 11px;
}
.popup-messages .chat-box-single-line {
    border-bottom: 1px solid #a4c6b5;
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
}
.popup-messages .direct-chat-messages {
    height: auto;
}
.popup-messages .direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    border-radius: 2px;
    color: #1f2121;
}

.popup-messages .direct-chat-timestamp {
    color: #fff;
    opacity: 0.6;
}

.popup-messages .direct-chat-name {
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 0 49px !important;
    color: #fff;
    opacity: 0.9;
}
.popup-messages .direct-chat-info {
    display: block;
    font-size: 12px;
    margin-bottom: 0;
}
.popup-messages  .big-round {
    margin: -9px 0 0 !important;
}
.popup-messages  .direct-chat-img {
    border: 1px solid #fff;
    background: #3f9684  none repeat scroll 0 0;
    border-radius: 50%;
    float: left;
    height: 40px;
    margin: -21px 0 0;
    width: 40px;
}
.direct-chat-reply-name {
    color: #fff;
    font-size: 15px;
    margin: 0 0 0 10px;
    opacity: 0.9;
}

.direct-chat-img-reply-small
{
    border: 1px solid #fff;
    border-radius: 50%;
    float: left;
    height: 20px;
    margin: 0 8px;
    width: 20px;
    background:#3f9684;
}

.popup-messages .direct-chat-msg {
    margin-bottom: 10px;
    position: relative;
}

.popup-messages .doted-border::after {
    background: transparent none repeat scroll 0 0 !important;
    border-right: 2px dotted #fff !important;
    bottom: 0;
    content: "";
    left: 17px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 2px;
     display: inline;
      z-index: -2;
}

.popup-messages .direct-chat-msg::after {
    background: #fff none repeat scroll 0 0;
    border-right: medium none;
    bottom: 0;
    content: "";
    left: 17px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 2px;
     display: inline;
      z-index: -2;
}
.direct-chat-text::after, .direct-chat-text::before {
   
    border-color: transparent #dfece7 transparent transparent;
    
}
.direct-chat-text::after, .direct-chat-text::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #d2d6de transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: medium;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 15px;
    width: 0;
}
.direct-chat-text::after {
    border-width: 5px;
    margin-top: -5px;
}
.popup-messages .direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    border-radius: 2px;
    color: #1f2121;
}
.direct-chat-text {
    background: #d2d6de none repeat scroll 0 0;
    border: 1px solid #d2d6de;
    border-radius: 5px;
    color: #444;
    margin: 5px 0 0 50px;
    padding: 5px 10px;
    position: relative;
}
.statisticBox {
    display: block;
    min-height: 89px;
    background: #fff;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}
.statisticIcon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 88px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
    color: #ffffff;
    padding-top: 15px;
}
.statisticContent {
    padding: 5px 10px;
    margin-left: 90px;
}
.allCategory{
    background-color: #5da4ec;
    position: fixed;
    top: 86px;
    left: 0;
    z-index: 15;
}
.allcategoryNav {margin-top: 100px; -webkit-transition: all .1s; -moz-transition: all .1s ease; -o-transition: all .1s ease; -ms-transition: all .1s; transition: all .1s;z-index: 1;}
.navCollapse {margin-top: 86px; -webkit-transition: all .1s; -moz-transition: all .1s ease; -o-transition: all .1s ease; -ms-transition: all .1s; transition: all .1s;}
.categoryBlock{ border-right: 1px solid #f3f3f3; border-bottom: 1px solid #f3f3f3; vertical-align: middle;}
.categoryBlock a{display: block; vertical-align: middle; padding: 10px; height: 50px;}
.categoryBlock a:hover {background-color: #5da4ec; color: #ffffff !important;}
.categoryBlock a.active {border-bottom:2px solid #5da4ec; color: #5da4ec !important;}
.categoryBlock a.active:hover {color: #ffffff !important;}
.allCategory ul {display: table; width: 100%;}
.allCategory ul li {display: table-cell;}
.allCategory .container div { margin-left: 3px; }
.allCategory .container div div div{ 
    display: table;
    border: 1px solid #ccc;
    height: 48px;
    margin: -1px 0 0 -1px;}
.allCategory .container div div div:hover, .allCategory .container div div div:active{   
    border-bottom: 2px solid orange;
}
.allCategory .container div div a img { 
    height: 30px;
    width: 30px;    
   -webkit-filter: invert(100%); filter: invert(100%);
}
.allCategory .container div div a {     
    display: table-cell;
    line-height: 13px;
    outline: 0;
    vertical-align: middle;
    color: #ffffff;
}
.categoriesSpy{
    right: 163px;
    left: 164px;
    z-index: 1;
    top: 85px;
    border-color: #e6e6e6;
    position: fixed;
}
.panel-default>.panel-heading .badge {
    color: #f5f5f5;
/*    background-color: #ff6d6d !important;*/
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "\f105";
    font-family: FontAwesome;
}
.categoryList { margin-top: 115px; }
#categoryTable td { cursor: pointer; width: 200px; height: 55px; vertical-align: middle; }
#categoryTable td a img{ float: left; }
#categoryTable td a { display: block; position: relative; }
#categoryTable td a span{ margin-left: 14px; position: absolute; }
#categoryTable td.active { color: #7eacda; border-bottom:2px solid #7eacda;}
.categoriesSpycollapsed{
    margin-top: -15px !important;
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
}
.chatBody{min-height: 180px;}
.chatBox{
    /* z-index: 15; */
    background-color: #ffffff;
    border: 1px solid #5da4ec;
    /* bottom: -384px; */
    display: block;
    height: 415px;
    /* position: fixed; */
    /* right: 70px; */
    width: 300px;
    -webkit-transition: all .5s;
    transition: all .5s;
    /* display: block !important; */
}
.chatBox.open{
    bottom: -0px;
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
}
.chatboxHeader{
    background-color: #5da4ec !important;
    border-radius: 0;
    color: #ffffff !important;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
}
.textArea {
    display: inline-block;
    min-height: 10px;
    width: 300px;
    max-height: 85px;
    overflow-x: visible;
    overflow: auto;
    padding: 5px;                                     
    outline: none !important;
    font-size: 12px;
}
#chatbox-container .clickPop{background-color: #5da4ec; color: #ffffff; font-size: 12px; border-radius: 0; padding: 5px 10px !important; font-weight: bold;}
#chatbox-container .close{font-size: 20px !important;}
#chatbox-container li{padding-right: 2px !important; padding-left: 2px !important;}
#chatbox-container .panel-default,#chatbox-container .panel-heading{border-color: #5da4ec !important;}
#chatbox-container .form-control,#chatbox-container .form-control:focus{font-size: 12px !important;}
.popChat{position: relative; top:378px; -webkit-transition: all .5s; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s; transition: all .5s;}
.popUp{position: relative; top:0px ; -webkit-transition: all .5s; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s; transition: all .5s;}
.chatpanelBottom{position: relative;top: 0px; -webkit-transition: all .5s; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s; transition: all .5s;}
.chatpanelUp{position: relative; top: -378px;; -webkit-transition: all .5s; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s; transition: all .5s;}
.chatboxBody { 
    overflow: auto !important;
    /*position: absolute;*/
    width: 250px;
    height: 324px;
}
.chatboxTextarea{ position: absolute; width: 100%; bottom: 0;}
.round.hollow {
    margin: 40px 0 0;
}
.round.hollow a {
    border: 2px solid #ff6701;
    border-radius: 35px;
    color: red;
    color: #ff6701;
    padding: 10px 21px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.round.hollow a:hover {
    border: 2px solid #000;
    border-radius: 35px;
    color: red;
    color: #000;
    font-size: 23px;
    padding: 10px 21px;
    text-decoration: none;
}
.popup-box-on {
    display: block !important;
}
.popup-box .popup-head {
    background-color: #fff;
    clear: both;
    color: #7b7b7b;
    display: inline-table;
    font-size: 21px;
    padding: 7px 10px;
    width: 100%;
     font-family: Oswald;
}
.bg_none i {
    border: 1px solid #ff6701;
    border-radius: 25px;
    color: #ff6701;
    font-size: 17px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.bg_none:hover i {
    border: 1px solid #000;
    border-radius: 25px;
    color: #000;
    font-size: 17px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.bg_none {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.popup-box .popup-head .popup-head-right {
    margin: 11px 7px 0;
}
.popup-box .popup-messages {
}
.popup-head-left img {
    border: 1px solid #7b7b7b;
    border-radius: 50%;
    width: 44px;
}
.popup-messages-footer > textarea {
    border-bottom: 1px solid #b2b2b2 !important;
    height: 34px !important;
    margin: 7px;
    padding: 5px !important;
     border: medium none;
    width: 95% !important;
}
.popup-messages-footer {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.popup-messages-footer .btn-footer {
    overflow: hidden;
    padding: 2px 5px 10px 6px;
    width: 100%;
}
.simple_round {
    background: #d1d1d1 none repeat scroll 0 0;
    border-radius: 50%;
    color: #4b4b4b !important;
    height: 21px;
    padding: 0 0 0 1px;
    width: 21px;
}





.popup-box .popup-messages {
    background: #3f9684 none repeat scroll 0 0;
    height: 275px;
    overflow: auto;
}
.direct-chat-messages {
    overflow: auto;
    padding: 10px;
    transform: translate(0px, 0px);
    
}
.popup-messages .chat-box-single-line {
    border-bottom: 1px solid #a4c6b5;
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
}
.popup-messages abbr.timestamp {
    background: #3f9684 none repeat scroll 0 0;
    color: #fff;
    padding: 0 11px;
}

.popup-head-right .btn-group {
    display: inline-flex;
    margin: 0 8px 0 0;
    vertical-align: top !important;
}
.chat-header-button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #636364;
    border-radius: 50%;
    font-size: 14px;
    height: 30px;
    width: 30px;
}
.popup-head-right .btn-group .dropdown-menu {
    border: medium none;
    min-width: 122px;
    padding: 0;
}
.popup-head-right .btn-group .dropdown-menu li a {
    font-size: 12px;
    padding: 3px 10px;
    color: #303030;
}

.popup-messages abbr.timestamp {
    background: #3f9684  none repeat scroll 0 0;
    color: #fff;
    padding: 0 11px;
}
.popup-messages .chat-box-single-line {
    border-bottom: 1px solid #a4c6b5;
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
}
.popup-messages .direct-chat-messages {
    height: auto;
}
.popup-messages .direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    border-radius: 2px;
    color: #1f2121;
}

.popup-messages .direct-chat-timestamp {
    color: #fff;
    opacity: 0.6;
}

.popup-messages .direct-chat-name {
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 0 49px !important;
    color: #fff;
    opacity: 0.9;
}
.popup-messages .direct-chat-info {
    display: block;
    font-size: 12px;
    margin-bottom: 0;
}
.popup-messages  .big-round {
    margin: -9px 0 0 !important;
}
.popup-messages  .direct-chat-img {
    border: 1px solid #fff;
    background: #3f9684  none repeat scroll 0 0;
    border-radius: 50%;
    float: left;
    height: 40px;
    margin: -21px 0 0;
    width: 40px;
}
.direct-chat-reply-name {
    color: #fff;
    font-size: 15px;
    margin: 0 0 0 10px;
    opacity: 0.9;
}

.direct-chat-img-reply-small
{
    border: 1px solid #fff;
    border-radius: 50%;
    float: left;
    height: 20px;
    margin: 0 8px;
    width: 20px;
    background:#3f9684;
}

.popup-messages .direct-chat-msg {
    margin-bottom: 10px;
    position: relative;
}

.popup-messages .doted-border::after {
    background: transparent none repeat scroll 0 0 !important;
    border-right: 2px dotted #fff !important;
    bottom: 0;
    content: "";
    left: 17px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 2px;
     display: inline;
      z-index: -2;
}

.popup-messages .direct-chat-msg::after {
    background: #fff none repeat scroll 0 0;
    border-right: medium none;
    bottom: 0;
    content: "";
    left: 17px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 2px;
     display: inline;
      z-index: -2;
}
.direct-chat-text::after, .direct-chat-text::before {
   
    border-color: transparent #dfece7 transparent transparent;
    
}
.direct-chat-text::after, .direct-chat-text::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #d2d6de transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: medium;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 15px;
    width: 0;
}
.direct-chat-text::after {
    border-width: 5px;
    margin-top: -5px;
}
.popup-messages .direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    border-radius: 2px;
    color: #1f2121;
}
.direct-chat-text {
    background: #d2d6de none repeat scroll 0 0;
    border: 1px solid #d2d6de;
    border-radius: 5px;
    color: #444;
    margin: 5px 0 0 50px;
    padding: 5px 10px;
    position: relative;
}
.parent{
/*    position: absolute;*/
    width: 100%;
    min-height: 100%;
/*    padding-right: 15px;*/
  }
.child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-right: 15px;
    padding-left: inherit;
  }

.paypal_btn {
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    /* font-weight: bold; */
    color: #fff;
    text-align: center;
    padding: 3px 15px;
    margin: 0;
    background: #5da4ec;
    border: 0;
    cursor: pointer;
    outline: none;
}
@media screen and (max-width: 990px){
.navbar-account {
    margin-top: 50px;
}
}
@media screen and (max-width: 767px){
.noPaddingMobile{padding: 0}
.noMarginMobile{margin: 0 !important}
.borderBottomMobile{border-bottom: 3px solid #f3f3f3;}
.loginSize{ width: auto; min-width: 100%; }
.commentXs{width:101%;}
.sideBlock { padding-left: 15px !important; padding-right: 15px !important; }
/*.sideBlock {
    padding: 0 !important;
}
*/#rc-imageselect, .g-recaptcha {transform:scale(0.95) !important;
-webkit-transform:scale(0.90) !important;
transform-origin:0 0 !important;
-webkit-transform-origin:0 0 !important;}
.table-responsive {
    border: none;
}
.navbar-nav .open .dropdown-menu {
    position: absolute;
    float: none;
    width: 100% !important;
    margin-top: 16px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    left: -100px !important;
}
.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
    padding: 5px 15px 5px 15px;
}
#carouselMain .item {
height:260px;  line-height:260px; overflow:hidden; text-align:center;  width:100%;
}

#carouselMain .item img {
    height: 260px; margin: -100%; display: initial; max-width: none;  width: initial;
}
.publicProfile{
    margin: auto;
    height: 350px;
}

}
#mainFooter .sidePadding {padding: 0;}
.fullW{width: 100%;}
.tab-content{padding: 0 15px;}
@media screen and (max-width: 473px){
.navbar-account {
    margin-top: 52px;
}
.marginBlock {
    margin-top: 40px;
}
}
.term-label{
    font-size: 13px !important;
}
.disabledColor{
    background-color: #f4f4f4 !important;
}
input{
  cursor: default !important;
}
select{
  cursor: default !important;
}